{% load static %}
<!-- SCRIPTS -->
<!-- Global Required Scripts Start -->
<script src="{% static 'panel/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'panel/js/popper.min.js' %}"></script>
<script src="{% static 'panel/js/bootstrap.min.js' %}"></script>
<script src="{% static 'panel/js/perfect-scrollbar.js' %}">
</script>
<script src="{% static 'panel/js/jquery-ui.min.js' %}">
</script>
<!-- Global Required Scripts End -->
<!-- Page Specific Scripts Start -->

<script src="{% static 'panel/js/Chart.bundle.min.js' %}">
</script>
<script src="{% static 'panel/js/widgets.js' %}"></script>
<script src="{% static 'panel/js/clients.js' %}"></script>
<script src="{% static 'panel/js/Chart.Financial.js' %}"></script>
<script src="{% static 'panel/js/d3.v3.min.js' %}">
</script>
<script src="{% static 'panel/js/topojson.v1.min.js' %}">
</script>
<script src="{% static 'panel/js/datatables.min.js' %}">
</script>
<script src="{% static 'panel/js/data-tables.js' %}">
</script>
<!-- Page Specific Scripts Finish -->
<!-- Costic core JavaScript -->
<script src="{% static 'panel/js/framework.js' %}"></script>
<!-- Settings -->
<script src="{% static 'panel/js/settings.js' %}"></script>