{% load static %}
<!-- Preloader -->
{#<div id="preloader-wrap">#}
{#    <div class="spinner spinner-8">#}
{#        <div class="ms-circle1 ms-child"></div>#}
{#        <div class="ms-circle2 ms-child"></div>#}
{#        <div class="ms-circle3 ms-child"></div>#}
{#        <div class="ms-circle4 ms-child"></div>#}
{#        <div class="ms-circle5 ms-child"></div>#}
{#        <div class="ms-circle6 ms-child"></div>#}
{#        <div class="ms-circle7 ms-child"></div>#}
{#        <div class="ms-circle8 ms-child"></div>#}
{#        <div class="ms-circle9 ms-child"></div>#}
{#        <div class="ms-circle10 ms-child"></div>#}
{#        <div class="ms-circle11 ms-child"></div>#}
{#        <div class="ms-circle12 ms-child"></div>#}
{#    </div>#}
{#</div>#}
<!-- Overlayss -->
{% if request.user.is_authenticated %}

    <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
    <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity"
         data-toggle="slideRight"></div>
    <!-- Sidebar Navigation Left -->
    <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
        <!-- Logo -->
        <div class="logo-sn ms-d-block-lg">
            <a class="pl-0 ml-0 text-center" href="{% url 'adminpanel:starting_page' %}">
                <img src="{{ cafe.Cafe_Header_Logo.url }}" alt="logo-{{ cafe.Cafe_Name }}">
            </a>
        </div>
        <!-- Navigation -->
        <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
            <li class="menu-item">
                <a href="{% url 'adminpanel:starting_page' %}"> <span><i
                        class="fas fa-home fs-16"></i>داشبورد</span>
                </a>
            </li>
            <!-- category -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#category" aria-expanded="false"
                   aria-controls="category"> <span><i class="fa fa-archive fs-16"></i>دسته بندی</span>
                </a>
                <ul id="category" class="collapse" aria-labelledby="category" data-parent="#side-nav-accordion">
                    <li><a href="{% url 'category:all' %}">لیست دسته بندی</a>
                    </li>
                    <li><a href="{% url 'category:category_create' %}">افزودن دسته بندی</a>
                    </li>
                </ul>
            </li>
            <!-- category end -->

            <!-- food -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#product" aria-expanded="false"
                   aria-controls="product"> <span><i class="fa fa-archive fs-16"></i>محصول</span>
                </a>
                <ul id="product" class="collapse" aria-labelledby="product" data-parent="#side-nav-accordion">
                    <li><a href="{% url 'food:all' %}">لیست محصول</a>
                    </li>
                    <li><a href="{% url 'food:food_create' %}">افزودن محصول</a>
                    </li>
                </ul>
            </li>
            <!-- food end -->

            <!-- gallery -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#gallery" aria-expanded="false"
                   aria-controls="gallery"> <span><i class="fa fa-image fs-16"></i>گالری</span>
                </a>
                <ul id="gallery" class="collapse" aria-labelledby="gallery" data-parent="#side-nav-accordion">
                    <li><a href="{% url 'gallery:all' %}">لیست تصاویر</a>
                    </li>
                    <li><a href="{% url 'gallery:Gallery_create' %}">افزودن تصویر</a>
                    </li>
                </ul>
            </li>
            <!-- gallery end -->
            <!-- team -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#team" aria-expanded="false"
                   aria-controls="team"> <span><i class="fa fa-address-card fs-16"></i>همکاران</span>
                </a>
                <ul id="team" class="collapse" aria-labelledby="team" data-parent="#side-nav-accordion">
                    <li><a href="{% url 'team:all' %}">لیست همکاران</a>
                    </li>
                    <li><a href="{% url 'team:team_create' %}">افزودن همکار</a>
                    </li>
                </ul>
            </li>
            <!-- team end -->
            <!-- settings -->
            <li class="menu-item">
                <a href="{% url 'settings:settings_update' %}"> <span><i class="fas fa-cog fs-16"></i>تنظیمات</span>
                </a>
            </li>
            <!-- settings end -->
            <li class="menu-item">
                <a href="{% url 'about:update' %}"> <span><i class="fas fa-info-circle fs-16"></i>درباره ما</span>
                </a>
            </li>
            <!-- settings end -->

        </ul>
    </aside>

{% endif %}
