{% load static %}
<!-- Preloader -->
{#<div id="preloader-wrap">#}
{#    <div class="spinner spinner-8">#}
{#        <div class="ms-circle1 ms-child"></div>#}
{#        <div class="ms-circle2 ms-child"></div>#}
{#        <div class="ms-circle3 ms-child"></div>#}
{#        <div class="ms-circle4 ms-child"></div>#}
{#        <div class="ms-circle5 ms-child"></div>#}
{#        <div class="ms-circle6 ms-child"></div>#}
{#        <div class="ms-circle7 ms-child"></div>#}
{#        <div class="ms-circle8 ms-child"></div>#}
{#        <div class="ms-circle9 ms-child"></div>#}
{#        <div class="ms-circle10 ms-child"></div>#}
{#        <div class="ms-circle11 ms-child"></div>#}
{#        <div class="ms-circle12 ms-child"></div>#}
{#    </div>#}
{#</div>#}
<!-- Overlays -->
{% if request.user.is_authenticated %}

    <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
    <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity"
         data-toggle="slideRight"></div>
    <!-- Sidebar Navigation Left -->
    <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
        <!-- Logo -->
        <div class="logo-sn ms-d-block-lg">
            <a class="pl-0 ml-0 text-center" href="index.html">
                <img src="{{ cafe.Cafe_Header_Logo.url }}" alt="logo-{{ cafe.Cafe_Name }}">
            </a>
        </div>
        <!-- Navigation -->
        <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
            <!-- Dashboard -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#dashboard" aria-expanded="false"
                   aria-controls="dashboard"> <span><i class="material-icons fs-16">dashboard</i>داشبرد</span>
                </a>
                <ul id="dashboard" class="collapse" aria-labelledby="dashboard" data-parent="#side-nav-accordion">
                    <li><a href="index.html">کاستیک</a>
                    </li>
                </ul>
            </li>
            <!-- /Dashboard -->
            <!-- product -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#product" aria-expanded="false"
                   aria-controls="product"> <span><i class="fa fa-archive fs-16"></i>منوها</span>
                </a>
                <ul id="product" class="collapse" aria-labelledby="product" data-parent="#side-nav-accordion">
                    <li><a href="pages/product/productcata.html">کاتالوگ منو</a>
                    </li>
                    <li><a href="pages/product/productlist.html">لیست منو</a>
                    </li>
                    <li><a href="pages/product/productgrid.html">منو کارتی</a>
                    </li>
                    <li><a href="pages/product/addproduct.html">افزودن محصول</a>
                    </li>
                    <li><a href="pages/product/productdetail.html">جزییات محصول</a>
                    </li>
                </ul>
            </li>
            <!-- product end -->
            <!-- orders -->
            <li class="menu-item">
                <a href="pages/orders.html"> <span><i class="fas fa-clipboard-list fs-16"></i>سفارشات</span>
                </a>
            </li>
            <!-- orders end -->
            <!-- restaurants -->
            <li class="menu-item">
                <a href="pages/restaurants.html"> <span><i class="fa fa-tasks fs-16"></i>لیست رستوران‌ها</span>
                </a>
            </li>
            <!-- restaurants end -->
            <!-- Invoice -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#invoice" aria-expanded="false"
                   aria-controls="invoice"> <span><i class="fas fa-file-invoice fs-16"></i>فاکتور</span>
                </a>
                <ul id="invoice" class="collapse" aria-labelledby="invoice" data-parent="#side-nav-accordion">
                    <li><a href="pages/invoice/invoicedetail.html">جزییات فاکتور</a>
                    </li>
                    <li><a href="pages/invoice/invoicelist.html">لیست فاکتور</a>
                    </li>
                </ul>
            </li>
            <!-- Invoice end -->
            <!-- customers-->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#customer" aria-expanded="false"
                   aria-controls="customer"> <span><i class="fas fa-user-friends fs-16"></i>مشتریان</span>
                </a>
                <ul id="customer" class="collapse" aria-labelledby="customer" data-parent="#side-nav-accordion">
                    <li><a href="pages/customer/customersreview.html">نظرات مشتریان</a>
                    </li>
                    <li><a href="pages/customer/customersreview.html">لیست مشتریان</a>
                    </li>
                    <li><a href="pages/customer/social.html">فعالیت مجازی</a>
                    </li>
                </ul>
            </li>
            <!-- Customers  end -->
            <!-- sales -->
            <li class="menu-item">
                <a href="pages/sales.html"> <span><i class="fa fa-briefcase fs-16"></i>فروش‌ها</span>
                </a>
            </li>
            <!-- sales end  -->
            <li class="menu-item">
                <a href="pages/widgets.html"> <span><i class="material-icons fs-16">widgets</i>ویجت‌ها</span>
                </a>
            </li>
            <!-- Basic UI Elements -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#basic-elements"
                   aria-expanded="false"
                   aria-controls="basic-elements"> <span><i
                        class="material-icons fs-16">filter_list</i>عناصر رابط کاربری</span>
                </a>
                <ul id="basic-elements" class="collapse" aria-labelledby="basic-elements"
                    data-parent="#side-nav-accordion">
                    <li><a href="pages/ui-basic/accordions.html">آکاردیون</a>
                    </li>
                    <li><a href="pages/ui-basic/alerts.html">هشدارها</a>
                    </li>
                    <li><a href="pages/ui-basic/buttons.html">دکمه‌ها</a>
                    </li>
                    <li><a href="pages/ui-basic/breadcrumbs.html">بردکرامب</a>
                    </li>
                    <li><a href="pages/ui-basic/badges.html">نشان‌ها</a>
                    </li>
                    <li><a href="pages/ui-basic/cards.html">کارت‌ها</a>
                    </li>
                    <li><a href="pages/ui-basic/progress-bars.html">نوار پیشرفت</a>
                    </li>
                    <li><a href="pages/ui-basic/preloaders.html">بارگذاری پیش از صفحه</a>
                    </li>
                    <li><a href="pages/ui-basic/pagination.html">صفحه‌بندی</a>
                    </li>
                    <li><a href="pages/ui-basic/tabs.html">تب‌ها</a>
                    </li>
                    <li><a href="pages/ui-basic/typography.html">تایپوگرافی</a>
                    </li>
                </ul>
            </li>
            <!-- /Basic UI Elements -->
            <!-- Advanced UI Elements -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#advanced-elements"
                   aria-expanded="false" aria-controls="advanced-elements"> <span><i
                        class="material-icons fs-16">code</i>عناصر پیشرفته رابط کاربری</span>
                </a>
                <ul id="advanced-elements" class="collapse" aria-labelledby="advanced-elements"
                    data-parent="#side-nav-accordion">
                    <li><a href="pages/ui-advanced/draggables.html">جابه‌جایی المنت</a>
                    </li>
                    <li><a href="pages/ui-advanced/sliders.html">اسلایدر</a>
                    </li>
                    <li><a href="pages/ui-advanced/modals.html">مودال ها</a>
                    </li>
                    <li><a href="pages/ui-advanced/rating.html">رتبه دهی</a>
                    </li>
                    <li><a href="pages/ui-advanced/tour.html">تور سایت</a>
                    </li>
                    <li><a href="pages/ui-advanced/cropper.html">برش دهنده</a>
                    </li>
                    <li><a href="pages/ui-advanced/range-slider.html">اسلایدر بازه ای</a>
                    </li>
                </ul>
            </li>
            <!-- /Advanced UI Elements -->
            <li class="menu-item">
                <a href="pages/animation.html"> <span><i class="material-icons fs-16">format_paint</i>انیمیشن ها</span>
                </a>
            </li>
            <!-- Form Elements -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#form-elements"
                   aria-expanded="false"
                   aria-controls="form-elements"> <span><i class="material-icons fs-16">input</i>عناصر فرم</span>
                </a>
                <ul id="form-elements" class="collapse" aria-labelledby="form-elements"
                    data-parent="#side-nav-accordion">
                    <li><a href="pages/form/form-elements.html">عناصر فرم</a>
                    </li>
                    <li><a href="pages/form/form-layout.html">صفحات فرم</a>
                    </li>
                    <li><a href="pages/form/form-validation.html">اعتبارسنجی فرم</a>
                    </li>
                    <li><a href="pages/form/form-wizard.html">فرم مرحله‌ای</a>
                    </li>
                </ul>
            </li>
            <!-- /Form Elements -->
            <!-- Charts -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#charts" aria-expanded="false"
                   aria-controls="charts"> <span><i class="material-icons fs-16">equalizer</i>چا‌رت‌ها</span>
                </a>
                <ul id="charts" class="collapse" aria-labelledby="charts" data-parent="#side-nav-accordion">
                    <li><a href="pages/charts/chartjs.html">چارت جی اس</a>
                    </li>
                    <li><a href="pages/charts/morris-charts.html">چارت موریس</a>
                    </li>
                </ul>
            </li>
            <!-- /Charts -->
            <!-- Tables -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#tables" aria-expanded="false"
                   aria-controls="tables"> <span><i class="material-icons fs-16">tune</i>جدول‌ها</span>
                </a>
                <ul id="tables" class="collapse" aria-labelledby="tables" data-parent="#side-nav-accordion">
                    <li><a href="pages/tables/basic-tables.html">جدول‌های پایه </a>
                    </li>
                    <li><a href="pages/tables/data-tables.html">جدول‌های داده</a>
                    </li>
                </ul>
            </li>
            <!-- /Tables -->
            <!-- Popups -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#popups" aria-expanded="false"
                   aria-controls="popups"> <span><i class="material-icons fs-16">message</i>پاپ‌آپ‌ها</span>
                </a>
                <ul id="popups" class="collapse" aria-labelledby="popups" data-parent="#side-nav-accordion">
                    <li><a href="pages/popups/sweet-alerts.html">هشدار سوییت</a>
                    </li>
                    <li><a href="pages/popups/toast.html">هشدار توست</a>
                    </li>
                </ul>
            </li>
            <!-- /Popups -->
            <!-- Icons -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#icons" aria-expanded="false"
                   aria-controls="icons"> <span><i class="material-icons fs-16">border_color</i>آیکن‌ها</span>
                </a>
                <ul id="icons" class="collapse" aria-labelledby="icons" data-parent="#side-nav-accordion">
                    <li><a href="pages/icons/fontawesome.html">فونت آوسام</a>
                    </li>
                    <li><a href="pages/icons/flaticons.html">فلت آیکون</a>
                    </li>
                    <li><a href="pages/icons/materialize.html">متریالیز آیکن</a>
                    </li>
                </ul>
            </li>
            <!-- /Icons -->
            <!-- Maps -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#maps" aria-expanded="false"
                   aria-controls="maps"> <span><i class="material-icons fs-16">map</i>نقشه ها</span>
                </a>
                <ul id="maps" class="collapse" aria-labelledby="maps" data-parent="#side-nav-accordion">
                    <li><a href="pages/maps/google-maps.html">نقشه گوگل</a>
                    </li>
                    <li><a href="pages/maps/vector-maps.html">نقشه وکتور</a>
                    </li>
                </ul>
            </li>
            <!-- /Maps -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#bonuspages" aria-expanded="false"
                   aria-controls="bonuspages"> <span><i
                        class="material-icons fs-16">insert_drive_file</i> صفحات افزوده</span>
                </a>
                <ul id="bonuspages" class="collapse" aria-labelledby="bonuspages" data-parent="#side-nav-accordion">
                    <li><a href="pages/dashboard/web-analytics.html"> وب آنالیز </a>
                    </li>
                    <li><a href="pages/dashboard/project-management.html">مدیریت فروش</a>
                    </li>
                    <li><a href="pages/dashboard/client-management.html">مدیریت مشتریان</a>
                    </li>
                </ul>
            </li>
            <!-- / bonus Pages -->
            <!-- Pages -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#pages" aria-expanded="false"
                   aria-controls="pages"> <span><i class="material-icons fs-16">insert_drive_file</i>صفحات</span>
                </a>
                <ul id="pages" class="collapse" aria-labelledby="pages" data-parent="#side-nav-accordion">
                    <li class="menu-item"><a href="#" class="has-chevron" data-toggle="collapse"
                                             data-target="#authentication" aria-expanded="false"
                                             aria-controls="authentication">احراز هویت</a>
                        <ul id="authentication" class="collapse" aria-labelledby="authentication" data-parent="#pages">
                            <li><a href="pages/prebuilt-pages/default-login.html">ورود پیشفرض</a>
                            </li>
                            <li><a href="pages/prebuilt-pages/modal-login.html">ورود مودال به زودی</a>
                            </li>
                            <li><a href="pages/prebuilt-pages/default-register.html">ثبت نام پیشفرض</a>
                            </li>
                            <li><a href="pages/prebuilt-pages/modal-register.html">ثبت نام مودال به زودی</a>
                            </li>
                            <li><a href="pages/prebuilt-pages/lock-screen.html">قفل صفحه</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="pages/prebuilt-pages/coming-soon.html">به زودی</a>
                    </li>
                    <li><a href="pages/prebuilt-pages/error.html">صفحه خطا</a>
                    </li>
                    <li class="menu-item"><a href="pages/prebuilt-pages/faq.html">پرسش و پاسخ</a>
                    </li>
                    <li class="menu-item"><a href="pages/prebuilt-pages/portfolio.html"> نمونه‌کارها </a>
                    </li>
                    <li class="menu-item"><a href="pages/prebuilt-pages/user-profile.html"> پروفایل کاربر </a>
                    </li>
                    <li class="menu-item"><a href="pages/prebuilt-pages/invoice.html"> صورتحساب </a>
                    </li>
                </ul>
            </li>
            <!-- /Pages -->
            <!-- Apps -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#apps" aria-expanded="false"
                   aria-controls="apps"> <span><i class="material-icons fs-16">phone_iphone</i>اپ‌ها</span>
                </a>
                <ul id="apps" class="collapse" aria-labelledby="apps" data-parent="#side-nav-accordion">
                    <li><a href="pages/apps/chat.html">چت</a>
                    </li>
                    <li><a href="pages/apps/email.html">ایمیل</a>
                    </li>
                    <li><a href="pages/apps/to-do-list.html">لیست کار</a>
                    </li>
                </ul>
            </li>
            <!-- /Apps -->
        </ul>
    </aside>
    <!-- Sidebar Right -->
    <aside id="ms-recent-activity" class="side-nav fixed ms-aside-right ms-scrollable">
        <div class="ms-aside-header">
            <ul class="nav nav-tabs tabs-bordered d-flex nav-justified mb-3" role="tablist">
                <li role="presentation" class="fs-12"><a href="#activityLog" aria-controls="activityLog" class="active"
                                                         role="tab" data-toggle="tab"> لاگ فعالیت ها</a>
                </li>
                <li>
                    <button type="button" class="close ms-toggler text-center" data-target="#ms-recent-activity"
                            data-toggle="slideRight"><span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="ms-aside-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active fade show" id="activityLog">
                    <ul class="ms-activity-log">
                        <li>
                            <div class="ms-btn-icon btn-pill icon btn-light"><i class="flaticon-gear"></i>
                            </div>
                            <h6>به روز رسانی 1.0.0 </h6>
                            <span> <i class="material-icons">event</i>19 بهمن 1398</span>
                            <p class="fs-14">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. </p>
                        </li>
                        <li>
                            <div class="ms-btn-icon btn-pill icon btn-success"><i
                                    class="flaticon-tick-inside-circle"></i>
                            </div>
                            <h6>به‌روزرسانی پروفایل</h6>
                            <span> <i class="material-icons">event</i>19 بهمن 1398</span>
                            <p class="fs-14">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. </p>
                        </li>
                        <li>
                            <div class="ms-btn-icon btn-pill icon btn-warning"><i class="flaticon-alert-1"></i>
                            </div>
                            <h6>پرداخت شما</h6>
                            <span> <i class="material-icons">event</i>19 بهمن 1398</span>
                            <p class="fs-14">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. </p>
                        </li>
                        <li>
                            <div class="ms-btn-icon btn-pill icon btn-danger"><i class="flaticon-alert"></i>
                            </div>
                            <h6>خطا دیتابیس</h6>
                            <span> <i class="material-icons">event</i>19 بهمن 1398</span>
                            <p class="fs-14">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. </p>
                        </li>
                        <li>
                            <div class="ms-btn-icon btn-pill icon btn-info"><i class="flaticon-information"></i>
                            </div>
                            <h6>دیدن پربازدیدترین‌ها</h6>
                            <span> <i class="material-icons">event</i>19 بهمن 1398</span>
                            <p class="fs-14">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. </p>
                        </li>
                        <li>
                            <div class="ms-btn-icon btn-pill icon btn-secondary"><i class="flaticon-diamond"></i>
                            </div>
                            <h6>داشبرد شما آماده است</h6>
                            <span> <i class="material-icons">event</i>19 بهمن 1398</span>
                            <p class="fs-14">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. </p>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary d-block"> دیدن همه</a>
                </div>
            </div>
        </div>
    </aside>
{% endif %}
