{% if request.user.is_authenticated %}
    <nav class="navbar ms-navbar">
        <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft"><span
                class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
        </div>
        <div class="logo-sn logo-sm ms-d-block-sm">
            <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="index.html"><img
                    src="{{ cafe.Cafe_Header_Logo.url }}" alt="logo-{{ cafe.Cafe_Name }}"> </a>
        </div>
        <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
            <li class="ms-nav-item ms-search-form pb-0 py-0">
                <form class="ms-form" method="post">
                    <div class="ms-form-group my-0 mb-0 has-icon fs-14">
                        <input type="search" class="ms-form-input" name="search" placeholder="جستجو" value=""> <i
                            class="flaticon-search text-disabled"></i>
                    </div>
                </form>
            </li>
            <li class="ms-nav-item dropdown"><a href="#" class="text-disabled ms-has-notification" id="mailDropdown"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                    class="flaticon-mail"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="mailDropdown">
                    <li class="dropdown-menu-header">
                        <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">پیام</span></h6><span
                            class="badge badge-pill badge-success">3 جدید</span>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="ms-scrollable ms-dropdown-list">
                        <a class="media p-2" href="#">
                            <div class="ms-chat-status ms-status-offline ms-chat-img mr-2 align-self-center">
                                <img src="assets/img/costic/customer-3.jpg" class="ms-img-round" alt="people">
                            </div>
                            <div class="media-body"><span>سلام منتظر پروژه جدید هستم.</span>
                                <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 30 ثانیه
                                    قبل
                                </p>
                            </div>
                        </a>
                        <a class="media p-2" href="#">
                            <div class="ms-chat-status ms-status-online ms-chat-img mr-2 align-self-center">
                                <img src="assets/img/costic/customer-2.jpg" class="ms-img-round" alt="people">
                            </div>
                            <div class="media-body"><span>منتظر نظر تو در رابطه با پروژه جدید هستم</span>
                                <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 28 دقیقه
                                    قبل
                                </p>
                            </div>
                        </a>
                        <a class="media p-2" href="#">
                            <div class="ms-chat-status ms-status-offline ms-chat-img mr-2 align-self-center">
                                <img src="assets/img/costic/customer-1.jpg" class="ms-img-round" alt="people">
                            </div>
                            <div class="media-body"><span>چند نفر رو میتونم به داشبرد دعوت کنم؟</span>
                                <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 6ساعت قبل
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-menu-footer text-center"><a href="pages/apps/email.html">رفتن به صفحه اصلی</a>
                    </li>
                </ul>
            </li>
            <li class="ms-nav-item dropdown"><a href="#" class="text-disabled ms-has-notification"
                                                id="notificationDropdown"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                    class="flaticon-bell"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
                    <li class="dropdown-menu-header">
                        <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">اطلاعیه‌ها</span></h6>
                        <span
                                class="badge badge-pill badge-info">4 جدید</span>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="ms-scrollable ms-dropdown-list">
                        <a class="media p-2" href="#">
                            <div class="media-body"><span>12 راه جدید برای داشتن داشبرد بهتر</span>
                                <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 30 ثانیه
                                    قبل
                                </p>
                            </div>
                        </a>
                        <a class="media p-2" href="#">
                            <div class="media-body"><span>ورود موفقیت آمیز</span>
                                <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 45 دقیقه
                                    قبل
                                </p>
                            </div>
                        </a>
                        <a class="media p-2" href="#">
                            <div class="media-body"><span>آی پی شما در سیستم ذخیره شد</span>
                                <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 2ساعت قبل
                                </p>
                            </div>
                        </a>
                        <a class="media p-2" href="#">
                            <div class="media-body"><span>فرم مورد نظر شما ارسال شد</span>
                                <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 1 day ago
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-menu-footer text-center"><a href="#">دیدن تمامی اطلاعیه‌ها</a>
                    </li>
                </ul>
            </li>

            <li class="ms-nav-item ms-nav-user dropdown">
                <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="ms-user-img ms-img-round float-right" src="{{ user.Profile.url }}" alt="people">
                </a>
                <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
                    <li class="dropdown-menu-header">
                        <h6 class="dropdown-header ms-inline m-0"><span
                                class="text-disabled">خوش آمدی {{ user.first_name }}</span></h6>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="ms-dropdown-list">
                        <a class="media fs-14 p-2" href="pages/prebuilt-pages/user-profile.html"> <span><i
                                class="flaticon-user mr-2"></i> پروفایل</span>
                        </a>
                    </li>
                    <li class="dropdown-divider">
                    <li class="dropdown-menu-footer">
                        <a class="media fs-14 p-2" href="{% url 'account:logout' %}"> <span><i
                                class="flaticon-shut-down mr-2"></i> خروج</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options">
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
        </div>
    </nav>
{% endif %}