{% load static %}
{% if request.user.is_authenticated %}
    <nav class="navbar ms-navbar">
        <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft"><span
                class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
        </div>
        <div class="logo-sn logo-sm ms-d-block-sm">
            <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="{% url 'adminpanel:starting_page' %}">
                <img src="{{ cafe.Cafe_Header_Logo.url }}" alt="logo-{{ cafe.Cafe_Name }}"> </a>
        </div>
        <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
            <li class="ms-nav-item ms-nav-user dropdown">
                <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="ms-user-img ms-img-round float-right" src="{{ user.Profile.url }}" alt="people">
                </a>
                <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
                    <li class="dropdown-menu-header">
                        <h6 class="dropdown-header ms-inline m-0"><span
                                class="text-disabled">خوش آمدی {{ user.first_name }}</span></h6>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-divider">
                    <li class="dropdown-menu-footer">
                        <a class="media fs-14 p-2" href="{% url 'account:logout' %}"> <span><i
                                class="flaticon-shut-down mr-2"></i> خروج</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options">
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
        </div>
    </nav>
{% endif %}