{% extends 'shared/cafe/_CafeMain.html' %}
{% load static %}
{% block page %}
    <!-- PAGE HERO
      ============================================= -->
    <div id="gallery-page" class="page-hero-section division">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-txt text-center white-color">

                        <!-- Breadcrumb -->
                        <div id="breadcrumb">
                            <div class="row">
                                <div class="col">
                                    <div class="breadcrumb-nav">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="demo-1.html">خانه</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">گالری</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Title -->
                        <h2 class="h2-xl">گالری عکس</h2>

                    </div>
                </div>
            </div>      <!-- End row -->
        </div>       <!-- End container -->
    </div>    <!-- END PAGE HERO -->


    <!-- GALLERY-2
    ============================================= -->
    <section id="gallery-2" class="gallery-section division">
        <div class="container">
            <div class="row">
                {% if PostGallery %}
                    {% for post in PostGallery %}
                        <div class="col-sm-6 col-lg-3">
                            <div class="gallery-img">
                                <a href="{{ post.Img.url }}" class="image-link">
                                    <div class="hover-overlay">
                                        <img class="img-fluid" src="{{ post.Img.url }}"
                                             alt="gallery-image"/>
                                        <div class="item-overlay"></div>

                                        <!-- Image Meta -->
                                        <div class="img-meta white-color">
                                            <h5 class="h5-xs">{{ post.Name }}</h5>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>عکس در گالری ثبت نشده</p>
                {% endif %}
            </div>      <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- END GALLERY-2 -->


    <!-- NEWSLETTER-1
    ============================================= -->
    <section id="newsletter-1" class="mb-20 newsletter-section division">
        <div class="container">
            <div class="inner-bg bg-lightgrey">
                <div class="row" style="direction: ltr;">


                    <!-- NEWSLETTER FORM -->
                    <div class="col-md-10 col-xl-8 offset-md-1 offset-xl-2">
                        <div class="newsletter-txt text-center">

                            <!-- Title -->
                            <h3 class="h3-sm">در خبرنامه ما عضو شوید</h3>

                            <!-- Text -->
                            <p class="p-md grey-color">برای اطلاع از آخرین به روز رسانی ها در خبرنامه هفتگی مشترک
                                شوید</p>

                            <!-- Form -->
                            <form class="newsletter-form">

                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="ایمیل" required id="s-email">
                                    <span class="input-group-btn">
												<button type="submit" class="btn btn-red tra-red-hover">عضویت</button>
											</span>
                                </div>

                                <!-- Newsletter Form Notification -->
                                <label for="s-email" class="form-notification"></label>

                            </form>

                        </div>
                    </div>      <!-- END NEWSLETTER FORM -->


                </div>     <!-- End row -->
            </div>    <!-- End Inner Bg -->
        </div>       <!-- End container -->
    </section>    <!-- END NEWSLETTER-1 -->

{% endblock %}