{% extends 'shared/panel/_PanelMain.html' %}
{% load static %}
{% block main %}

    <div class="container">
        <div class="ms-auth-form">
            <form class="needs-validation" method="post">
                {% csrf_token %}
                <h3>ورود به حساب کاربری</h3>
                <p>برای ورود ایمیل و رمز عبور خود را وارد نمایید</p>
                {% if ms %}
                    <p style="color: red">کاربری با این مشخصات یافت نشد</p>
                {% endif %}
                <div class="mb-3">
                    <label for="email">ایمیل</label>
                    <div class="input-group">
                        {{ login_form.email }}
                        <div class="invalid-feedback">لطفا ایمیل را به درستی وارد نمایید!</div>
                    </div>

                </div>
                <div class="mb-2">
                    <label for="password">رمز عبور</label>
                    <div class="input-group">
                        {{ login_form.password }}
                        <div class="invalid-feedback">لطفا پسورد را به درستی وارد نمایید.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="ms-checkbox-wrap">
                        <input class="form-check-input" type="checkbox" value=""> <i
                            class="ms-checkbox-check"></i>
                    </label> <span> رمز عبور را به خاطر بسپار </span>
                    <label class="d-block mt-3"><a href="{% url 'account:password_reset' %}" class="btn-link">فراموشی
                        رمز عبور؟</a>
                    </label>
                </div>
                <button class="btn btn-primary mt-4 d-block w-100" type="submit">ورود</button>
            </form>
        </div>
    </div>

{% endblock %}
