{% extends 'shared/panel/_PanelMain.html' %}
{% load static %}
{% block main %}

    <div class="container">
        <div class="ms-auth-form">
            {% if validlink %}

                {% if form.errors %}

                {% endif %}
                <form class="needs-validation" method="post">
                    {% csrf_token %}
                    <h3>تغییر رمز حساب کاربری</h3>
                    <p>لطفا رمزعبور جدید وارد کنید!</p>
                    <div class="form-group">
                        <label class="small mb-1" for="id_new_password1">رمزعبور جدید</label>
                        <input type="password" name="new_password1" autocomplete="new-password"
                               class="form-control" required id="id_new_password1"
                               placeholder="رمز عبور جدید"/>
                        <span>
                                                </span>
                    </div>


                    <div class="form-group">
                        <label class="small mb-1" for="id_new_password2">تکرار رمزعبور</label>
                        <input type="password" name="new_password2" autocomplete="new-password"
                               required id="id_new_password2" class="form-control"
                               placeholder="تکرار رمزعبور"/>
                    </div>

                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary mt-4 d-block w-100=">ثبت</button>
                </form>
            {% else %}
                <div class="alert alert-warning">
                    لینک تغییر رمز عبور نامعتبر است ،احتمالا به این دلیل که قبلا استفاده شده، لطفا در خواست فراموشی
                    رمزعبور را دوباره ارسال کنید
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
