{% extends 'shared/panel/_PanelMain.html' %}
{% block main %}
    <div class="container">
        <div class="ms-auth-form">
            <form class="needs-validation" method="post">
                <h3>فراموشی رمزعبور</h3>
                <p>لطفا ایمیل حساب کاربری وارد کنید!</p>
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="id_email">ایمیل</label>
                    <input type="email" name="email" class="form-control"
                           autocomplete="email" maxlength="254" required id="id_email"
                           placeholder="ایمیل خود را وارد کنید">
                </div>
                <button class="btn btn-primary mt-4 d-block w-100" type="submit">ثبت</button>
            </form>
        </div>
    </div>
{% endblock %}


