{% extends 'shared/panel/_PanelMain.html' %}
{% load static %}
{% block main %}

    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pl-0">
                        <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> خانه</a></li>
                        <li class="breadcrumb-item"><a href="#">منو</a></li>
                        <li class="breadcrumb-item active" aria-current="page">جزییات محصول</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-12">
                <div class="ms-panel">
                    <div class="ms-panel-header">
                        <h6>جزییات محصول</h6>
                    </div>
                    <div class="ms-panel-body">

                        <div id="arrowSlider" class="ms-arrow-slider carousel slide" data-ride="carousel"
                             data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{{ food.Image.url }}"
                                         alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3 class="text-white">sss</h3>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{{ food.Image.url }}"
                                         alt="Second slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3 class="text-white">پیتزا 2</h3>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{{ food.Image.url }}"
                                         alt="Third slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3 class="text-white">پیتزا 3</h3>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#arrowSlider" role="button" data-slide="prev">
                                <span class="material-icons" aria-hidden="true">keyboard_arrow_left</span>
                                <span class="sr-only">قبلی</span>
                            </a>
                            <a class="carousel-control-next" href="#arrowSlider" role="button" data-slide="next">
                                <span class="material-icons" aria-hidden="true">keyboard_arrow_right</span>
                                <span class="sr-only">بعدی</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class=" col-md-6">
                <div class="ms-panel ms-panel-fh">
                    <div class="ms-panel-body">
                        <h4 class="section-title bold">اطلاعات محصول</h4>
                        <table class="table ms-profile-information">
                            <tbody>
                            <tr>
                                <th scope="row">نام</th>
                                <td>{{ food.Title }}</td>
                            </tr>
                            <tr>
                                <th scope="row">توضیح کوتاه</th>
                                <td>{{ food.Description_Short }}</td>
                            </tr>
                            <tr>
                                <th scope="row">توضیح کامل</th>
                                <td>{{ food.Description_Long }}</td>
                            </tr>

                            <tr>
                                <th scope="row">مواد تشکیل دهنده</th>
                                <td>{{ food.Ingredients }}</td>
                            </tr>
                            <tr>
                                <th scope="row">کالری</th>
                                <td>{{ food.Calories }}</td>
                            </tr>
                            <tr>
                                <th scope="row">برچسب</th>
                                <td>{{ food.Tag }}</td>
                            </tr>
                            <tr>
                                <th scope="row">الرژی</th>
                                <td>{{ food.Allergy }}</td>
                            </tr>
                            <tr>
                                <th scope="row">قیمت</th>
                                <td>{{ food.Price }}</td>
                            </tr>
                            {% if food is Discount %}
                                <tr>
                                    <th scope="row">قیمت با تخفیف</th>
                                    <td>{{ food.Discount }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">وضعیت نمایش</th>
                                {% if food.Is_Active %}
                                    <td><span class="badge badge-pill badge-success">فعال</span></td>
                                {% else %}
                                    <td><span class="badge badge-pill badge-primary">غیرفعال</span></td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary">ویرایش</button>
                        <button type="button" class="btn btn-secondary">حذف</button>

                    </div>
                </div>
            </div>

            <div class=" col-md-6">
                <div class="ms-panel ms-panel-fh">
                    <div class="ms-panel-body">

                        <h4 class="section-title bold">جزییات محصول </h4>
                        <p class="description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                            شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می
                            طلبد </p>


                    </div>
                    <div class="ms-quick-stats">
                        <div class="ms-stats-grid">
                            <i class="fa fa-bullhorn"></i>
                            <p class="ms-text-dark">1,033</p>
                            <span>سفارش امروز</span>
                        </div>
                        <div class="ms-stats-grid">
                            <i class="fa fa-heart"></i>
                            <p class="ms-text-dark">3,039</p>
                            <span>محبوبیت</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}
