{% extends 'shared/panel/_PanelMain.html' %}
{% load static %}
{% block header %}
    <link href="{% static 'panel/css/sweetalert2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}

    <div class="ms-content-wrapper">
        <div class="row">

            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pl-0">
                        <li class="breadcrumb-item"><a href="{% url 'adminpanel:starting_page' %}"><i
                                class="material-icons">home</i> خانه</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'adminpanel_category:all' %}">دسته بندی </a></li>
                    </ol>
                </nav>
                <div class="ms-panel">
                    <div class="ms-panel-header">
                        <h6>دسته بندی</h6>
                    </div>
                    <div class="ms-panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="section-title">تمامی دسته های موجود</h6>
                                <ul class="ms-list ms-sortable-list" id="category_id">

                                    {% for cat in category %}

                                        <li class="ms-list-item bordered media"
                                            id="id_{{ cat.id }}_cat_order_{{ cat.First }}">
                                            {% if cat.Img %}
                                                <img class="ms-img-round" src="{{ cat.Img.url }}" alt="icon">
                                            {% endif %}
                                            <div class="media-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="align-self-center align-left">
                                                        <h5> {{ cat.NameFa }} </h5>
                                                    </div>
                                                    <button type="button"
                                                            onclick="location.href='{% url 'category:category_detail' pk=cat.id %}';"
                                                            class="btn btn-primary">جزئیات
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <button type="button" class="btn btn-primary" onclick="UpdateData()">ثبت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function UpdateData() {
            let list = [];
            let my = document.getElementById('category_id').getElementsByTagName('li')
            for (let i = 0; i < my.length; i++) {
                var t = my[i];
                list.push(t.id);
            }
            var response = {data: list}
            json_response = JSON.stringify(response);
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'تغییرات با موفقیت کامل شد',
                showConfirmButton: false,
                timer: 1500
            });
            $.post('{% url 'category:category_sort' %}', json_response);
        }


    </script>

{% endblock %}


{% block footer %}

    <script src="{% static 'panel/js/sweetalert2.min.js' %}">
    </script>
    <script src="{% static 'panel/js/sweet-alerts.js' %}"></script>
{% endblock %}