{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>همیار منو | منو دیجیتال رستوران و کافی شاپ</title>
    <meta content="" name="همیار منو |بهترین راه برای بروز کردن کافه یا رستوران شما">
    <meta content="" name="hamyarmenu,همیارمنو,منو دیجیتال رستوران,منو دیجیتال رستوران و کافی شاپ,">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'site/fav/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'site/fav/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'site/fav/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'site/fav/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'site/fav/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'site/fav/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'site/fav/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'site/fav/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'site/fav/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'site/fav/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'site/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'site/fav/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'site/fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site/fav/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'site/fav/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static 'site/css/fount.css' %}" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="{% static 'site/css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'site/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/rtl.css' %}" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo lalezar"><a href="{% url 'dgmenu_site_home:site_home_page' %}">همیار منو</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">خانه</a></li>
                <li><a class="nav-link scrollto" href="#whatis">همیار منو چیه</a></li>
                <li><a class="nav-link scrollto" href="#why">چرا همیارمنو</a></li>
                <li><a class="nav-link scrollto" href="#pricing">قیمت</a></li>
                <li><a class="nav-link scrollto" href="#about">درباره ما</a></li>
                <li><a class="nav-link scrollto" href="#contact">تماس با ما</a></li>
                <li><a class="getstarted scrollto" href="#whatis">شروع</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>همیارمنو</h1>
                <h2>بهترین راه برای بروز کردن کافه یا رستوران شما</h2>
            </div>
        </div>
        <div class="text-center">
            <a href="#whatis" class="btn-get-started scrollto">همین حالا شروع کن!</a>
        </div>

        <div class="row icon-boxes">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="ri-time-line"></i></div>
                    <h4 class="title"><a href="">کاهش وظایف پرسنلی</a></h4>
                    <p class="description">با انجام برخی از وظایف پرسنلی مثل تحویل و گرفتن منو از مشتری،سفارشگیری ،
                        صندوقداری و...از توان پرسنلت بیشتر استفاده کن.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="ri-money-dollar-circle-line"></i></div>
                    <h4 class="title"><a href="">افزایش فروش</a></h4>
                    <p class="description">با کمک المان های جذاب در همیار منو فروشت زیاد میشه
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="ri-user-search-line"></i></div>
                    <h4 class="title"><a href="">شناخت بهتر مشتریان</a></h4>
                    <p class="description">به کمک سیستم تحلیل آماری دقیق همیارمنو انتخابات مشتریانت رو بهتر بشناس
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                 data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><i class="ri-refresh-line"></i></div>
                    <h4 class="title"><a href="">آپدیت لحظه ای منو</a></h4>
                    <p class="description">با کمک امکانات همیارمنو بسته به خواسته های خودت ایتم های منو رو کم یا زیاد
                        کن.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= whatis Section ======= -->
    <section id="whatis" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>همیار منو چیه و برات چیکار میکنه؟</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6  align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                     data-aos-delay="300">
                    <div class="icon-box iconbox-pink">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                            </svg>
                            <i class="bx bx-rss"></i>
                        </div>
                        <h4><a href=""> اعلام تمام شدن غذا </a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6  align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                     data-aos-delay="300">
                    <div class="icon-box iconbox-pink">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                            </svg>
                            <i class="bx bx-category"></i>
                        </div>
                        <h4><a href="">بی نهایت ایتم و دسته بندی </a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6  align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                     data-aos-delay="300">
                    <div class="icon-box iconbox-pink">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                            </svg>
                            <i class="bx bxs-discount"></i>
                        </div>
                        <h4><a href="">تخفیف دهی لحظه ای </a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box iconbox-pink">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                            </svg>
                            <i class="bx bx-station"></i>
                        </div>
                        <h4><a href="">دسترسی راحت و کامل به همیارمنو حتی در هنگام ملی شدن اینترینت</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6  align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                     data-aos-delay="300">
                    <div class="icon-box iconbox-pink">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                            </svg>
                            <i class="bx bx-notepad"></i>
                        </div>
                        <h4><a href="">دکمه تماس و یادداشت در همیارمنو</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                     data-aos-delay="300">
                    <div class="icon-box iconbox-pink">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                            </svg>
                            <i class="bx bx-data"></i>
                        </div>
                        <h4><a href="">تصاویر متعدد و با کیفیت از غذا </a></h4>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End whatis Section -->

    <section id="why" class="pricing">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>چرا همیارمنو؟</h2>
            </div>

            <div class="row">

                <div class="col" data-aos="zoom-im" data-aos-delay="100">
                    <div class="box">
                        <h3>پشتیانی 24 ساعته</h3>
                        <p>پشتیبانی توسط تیم حرفه ای ومجرب همیارمنو به صورت شبانه روزی انجام میشود.</p>
                    </div>
                </div>
                <div class="col" data-aos="zoom-im" data-aos-delay="100">
                    <div class="box">
                        <h3>چون دسترسی پایدار بهت میده!</h3>
                        <p>به دلیل دارا بودن زیرساخت های قوی و اصولی و همچنین امنیت بالا حتی در صورت پیاده سازی طرح
                            سیانت.</p>
                    </div>
                </div>
                <div class="col" data-aos="zoom-im" data-aos-delay="100">
                    <div class="box">
                        <h3>سادگی و آسانی کار با آن</h3>
                        <p>با توجه به پنل مدیریتی بسیار ساده و کاربردی و همینطور سادگی مشاهده منو و سفارش غذا، همه
                            میتوانند به راحتی از آن استفاده کنن.</p>
                    </div>
                </div>
                <div class="col" data-aos="zoom-im" data-aos-delay="100">
                    <div class="box">
                        <h3>آپدیت و ارتقا همیارمنو </h3>
                        <p>تیم برنامه نویسی همیارمنو به صورت مداوم در حال ارتقا تجربه و کاربری همیارمنو بر اساس نیاز های
                            شما </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End why Section -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>تعرفه خدمات ما</h2>
            </div>

            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box featured">
                        <h3>منو دیداری</h3>
                        <h4><sup>سالانه</sup><del>1500000</del><span> / تومان</span></h4>
{#                         <h4><sup>سالانه</sup>1000000<span> / تومان</span></h4>#}
                        <ul>
                            <li>مشاوره رایگان</li>
                            <li>بی نهایت محصول</li>
                            <li>بی نهایت دسته بندی</li>
                            <li>گالری تصاویر</li>
                            <li>آمار حرفه ای</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#contact" class="btn-buy">درخواست مشاوره</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Pricing Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>درباره ما</h2>
            </div>

            <div class="row content rtl-row-content">
                <div class="col-lg-6">
                    <p>
                        تیم همیارمنو متشکل از تحلیلگران و برنامه نویسان با سابقه بوده که همواره در تلاشند تا بر اساس
                        نیاز های مشتریان و استفاده از بهترین زیرساخت ها ،دیزاین ساده و مدرن کسب و کار شما را ارتقا دهد.
                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <img src="{% static 'site/img/team/teamsammensaetning.jpg' %}" alt="team">
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>به مشاوره نیاز دارید؟</h2>
                <p>شماره تماس تان را ثبت کنید، بزودی باشما تماس خواهیم گرفت</p>
            </div>

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>ایمیل:</h4>
                            <p>hamyarmenu@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>شماره تماس:</h4>
                            <p>09389072753</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group mt-3 mt-md-3">
                                <input type="text" name="name" class="form-control" id="name" placeholder="نام شما"
                                       required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-3">
                                <input type="tel" class="form-control" name="number" id="number"
                                       placeholder="شماره تماس"
                                       required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="پیام شما"
                                      required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">لطفا صبر کنید</div>
                            <div class="error-message">متاسفایم، مشکلی پیش آمد</div>
                            <div class="sent-message">پیام شما با موفیت ارسال شد!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">ارسال پیام</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>همیارمنو</h3>
                    <p>
                        <strong>شماره تماس :</strong>09389072753<br>
                        <strong>ایمیل :</strong>hamyarmenu@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>لینک های مفید</h4>
                    <ul>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'dgmenu_site_home:site_home_page' %}">خانه</a>
                        </li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'dgmenu_cafe_account:login' %}">پنل
                            مدیرت</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>سرویس ها</h4>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>عضویت در خبرنامه</h4>
                    <p>با عضویت در خبرنامه از جدیدترین مقالات ما با خبر شوید.</p>
                    <form action="" method="post">
                        <input type="email" name="email" placeholder="ایمیل خود را وارد کنید ..."><input type="submit"
                                                                                                         value="عضویت">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                تمامی حقوق این سایت برای شرکت همیار منو محفوظ می باشد
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://instagram.com/hamyarmenu" class="instagram"><i class="bx bxl-instagram"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'site/js/purecounter_vanilla.js' %}"></script>
<script src="{% static 'site/js/aos.js' %}"></script>
<script src="{% static 'site/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'site/js/glightbox.min.js' %}"></script>
<script src="{% static 'site/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'site/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'site/js/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'site/js/main.js' %}"></script>

</body>

</html>