{% extends 'shared/cafe/_CafeMain.html' %}
{% load static %}

{% block page %}

    <!-- PAGE HERO
    ============================================= -->
    <div id="about-page" style="background-image: url({{ cafe.Cafe_Header_About_Background.url }});" class="page-hero-section division">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-txt text-center white-color">


                        <!-- Title -->
                        <h2 class="h2-xl">{{ cafe.Cafe_Name }}</h2>

                    </div>
                </div>
            </div>      <!-- End row -->
        </div>       <!-- End container -->
    </div>    <!-- END PAGE HERO -->


    <!-- ABOUT-3
    ============================================= -->
    <section id="about-3" class="wide-60 about-section division">
        <div class="container">
            <div class="row d-flex align-items-center">


                <!-- ABOUT IMAGE -->
                <div class="col-md-5 col-lg-6">
                    <div class="about-3-img text-center mb-40">
                        <img class="img-fluid" src="{{ about.Image.url }}" alt="-درباره-کافه-{{ cafe.Cafe_Name }}">
                    </div>
                </div>


                <!-- ABOUT TEXT -->
                <div class="col-md-7 col-lg-6">
                    <div class="about-3-txt mb-40">

                        <!-- Title -->
                        {% if about.Title %}
                            <h2 class="h2-sm">{{ about.Title }}</h2>
                        {% else %}
                            <p>اطلاعات یافت نشد</p>
                        {% endif %}

                        <!-- Text -->
                        {% if about.Description %}
                            <p class="p-md">{{ about.Description }}
                            </p>
                        {% else %}
                            <p>اطلاعات یافت نشد</p>
                        {% endif %}
                    </div>
                </div>    <!-- END ABOUT TEXT -->


            </div>       <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- END ABOUT-3 -->
{% endblock %}