<!-- FOOTER-4
  ============================================= -->
<footer id="footer-4" class="footer division">
    <div class="container grey-color">


        <!-- FOOTER CONTENT -->
        <div class="row">


            <!-- FOOTER INFO -->
            <div class="col-xl-3">
                <div class="footer-info mb-40">

                    <!-- Footer Logo -->
                    {% if cafe.Cafe_Header_Logo %}
                        <div class="footer-logo"><img src="{{ cafe.Cafe_Header_Logo.url }}" alt="footer-logo"/></div>
                    {% else %}
                        <div class="footer-logo"><img src="assets/images/logo-01.png" alt="footer-logo"/></div>
                    {% endif %}

                    <!-- Text -->
                    {% if cafe.Cafe_Description %}
                        <p>{{ cafe.Cafe_Description }}</p>
                    {% else %}
                        <p>فیلد درباره ما خالی می باشد</p>
                    {% endif %}
                </div>
            </div>


            <!-- FOOTER CONTACTS -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="footer-contacts mb-40">

                    <!-- Title -->
                    <h5 class="h5-sm">سفارش دهید</h5>

                    <!-- Address -->
                    {% if cafe.Cafe_Address %}
                        <p style="width: 200px">{{ cafe.Cafe_Address }}</p>
                    {% else %}
                        <p>آدرس کافه ثبت نشده</p>
                    {% endif %}


                    <!-- Contacts -->
                    {% if cafe.Cafe_Email %}
                        <p class="foo-email txt-500 mt-15"><a
                                href="mailto:{{ cafe.Cafe_Email }}">{{ cafe.Cafe_Email }}</a>
                        </p>
                    {% else %}
                        <p>آدرس ایمیل ثبت نشده</p>
                    {% endif %}
                    {% if cafe.Cafe_Tel1 %}
                        <p><span class="yellow-color"><a href="tel:{{ cafe.Cafe_Tel1 }}">{{ cafe.Cafe_Tel1 }}</a></span>
                        </p>
                    {% else %}
                        <p>شماره تماس ثبت نشده</p>
                    {% endif %}


                </div>
            </div>


            <!-- FOOTER INFO -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="footer-info mb-30">

                    <!-- Title -->
                    <h5 class="h5-sm">ساعات کاری</h5>

                    <!-- Text -->
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                        است.</p>

                    <!-- Text -->
                    <p class="mt-15">شنبه-جمعه: <span>9:00 ب.ظ - 10:00 ب.ظ</span></p>
                    <p>شنبه: <span>10:00 ب.ظ - 8:30 ق.ظ</span></p>
                    <p>یکشنبه: <span>12:00 ق.ظ - 5:00 ق.ظ</span></p>

                </div>
            </div>


            <!-- FOOTER IMAGES -->
            <div class="col-md-12 col-lg-4 col-xl-3">
                <div class="footer-img mb-40">

                    <!-- Title -->
                    <h5 class="h5-sm">فید گالری تصاویر</h5>

                    <!-- Instagram Images -->
                    <ul class="text-center clearfix">
                        {% if cafe_gallery %}
                            {% for post in cafe_gallery %}
                                <li><a href="#" target="_blank"><img class="insta-img"
                                                                     src="{{ post.Img.url }}"
                                                                     alt="insta-img"></a></li>

                            {% endfor %}
                        {% else %}
                            <p>عکس ثب نشده</p>
                        {% endif %}
                    </ul>

                </div>
            </div>    <!-- END FOOTER IMAGES -->
        </div>      <!-- END FOOTER CONTENT -->


        <!-- BOTTOM FOOTER -->
        <div class="bottom-footer">
            <div class="row d-flex align-items-center">


                <!-- FOOTER COPYRIGHT -->
                <div class="col-md-5 col-lg-6">
                    <div class="footer-copyright">
                        <p>&copy; برگی 1401. تمامی حقوق محفوظ است</p>
                    </div>
                </div>


                <!--  BOTTOM FOOTER LINKS -->
                <div class="col-md-7 col-lg-6" style="margin-right: 64%;">
                    <ul class="bottom-footer-list text-right clearfix">
                        {% if cafe.Cafe_Facebook %}
                            <li><p class="first-list-link"><a href="{{ cafe.Cafe_Facebook }}"><i
                                    class="fab fa-facebook-f"></i> Facebook</a>
                            </p></li>

                        {% endif %}

                        {% if cafe.Cafe_Instagram %}
                            <li><p><a href="{{ cafe.Cafe_Instagram }}"><i class="fab fa-instagram"></i> Instagram</a>
                            </p>
                            </li>
                        {% endif %}
                        {% if cafe.Cafe_YouTube %}
                            <li><p><a href="{{ cafe.Cafe_YouTube }}"><i class="fab fa-youtube"></i> YouTube</a></p></li>
                        {% endif %}

                        {% if cafe.Cafe_Twitter %}
                            <li><p class="last-li"><a href="{{ cafe.Cafe_Twitter }}"><i class="fab fa-twitter"></i>
                                Twitter</a></p></li>
                        {% endif %}

                    </ul>
                </div>


            </div>  <!-- End row -->
        </div>    <!-- END BOTTOM FOOTER -->


    </div>       <!-- End container -->
</footer>    <!-- END FOOTER-4 -->