<!-- HEADER-3
============================================= -->
<header id="header-3" class="header navik-header header-transparent header-shadow">
    <div class="container">


        <!-- NAVIGATION MENU -->
        <div class="navik-header-container">


            <!-- CALL BUTTON -->
            {% if cafe.Cafe_Tel1 %}
                <div class="callusbtn text-right"><a href="tel:{{ cafe.Cafe_Tel1 }}"><i class="fas fa-phone"></i></a>
                </div>
            {% endif %}

            <!-- LOGO IMAGE -->
            {% if cafe.Cafe_Header_Logo %}
                <div class="logo" data-mobile-logo="{{ cafe.Cafe_Header_Logo.url }}"
                     data-sticky-logo="{{ cafe.Cafe_Header_Logo.url }}">
                    <a href="index.html"><img src="{{ cafe.Cafe_Header_Logo.url }}"
                                              alt="{{ cafe.Cafe_UserName }}-header-logo"/></a>
                </div>
            {% endif %}

            <!-- BURGER MENU -->
            <div class="burger-menu">
                <div class="line-menu line-half first-line"></div>
                <div class="line-menu"></div>
                <div class="line-menu line-half last-line"></div>
            </div>


            <!-- MAIN MENU -->
            <nav class="navik-menu menu-caret navik-yellow">
                <ul class="top-list text-right">

                    <!-- DROPDOWN MENU -->
                    <li><a href="#">درباره</a>
                        <ul>
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="team.html">تیم ما</a></li>
                            <li><a href="gallery.html">گالری عکس</a></li>
                            <li><a href="gift-cards.html">تخفیف ها</a></li>
                            <li><a href="faqs.html">سوالات متداول</a></li>
                            <li><a href="terms.html">شرایط و حریم خصوصی</a></li>
                        </ul>
                    </li>

                    <!-- DROPDOWN MENU -->
                    <li><a href="#">منو</a>
                        <ul>
                            <li><a href="menu-1.html">منو 1 - تب کارت</a></li>
                            <li><a href="menu-2.html">منو 2 - کارت</a></li>
                            <li><a href="menu-3.html">منو 3 - بخش ها</a></li>
                        </ul>
                    </li>

                    <!-- DROPDOWN MENU -->
                    <li><a href="#">فروشگاه</a>
                        <ul>
                            <li><a href="product-single.html">جزئیات محصول</a></li>
                            <li><a href="cart.html">سبد خرید</a></li>
                        </ul>
                    </li>

                    <!-- DROPDOWN MENU -->
                    <li><a href="#">وبلاگ</a>
                        <ul>
                            <li><a href="blog-listing.html">وبلاگ</a></li>
                            <li><a href="single-post.html">جزئیات وبلاگ</a></li>
                        </ul>
                    </li>

                    <!-- DROPDOWN MENU -->
                    <li><a href="#">ساعات و اماکن</a>
                        <ul>
                            <li><a href="booking.html">رزرو میز</a></li>
                            <li><a href="locations.html">شعب ما</a></li>
                            <li><a href="contacts.html">ارتباط</a></li>
                        </ul>
                    </li>

                    <!-- HEADER BUTTON  -->
                    {% if cafe.Cafe_Tel1 %}
                        <li class="nav-btn yellow-color"><a href="tel:{{ cafe.Cafe_Tel1 }}">{{ cafe.Cafe_Tel1 }}</a>
                        </li>
                    {% endif %}
                    <!-- BASKET ICON -->
                    <li class="basket-ico ico-30">
                        <a href="cart.html">
                            <span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em class="roundpoint">2</em></span>
                        </a>
                    </li>

                </ul>
            </nav>    <!-- END MAIN MENU -->


        </div>    <!-- END NAVIGATION MENU -->


    </div>     <!-- End container -->
</header>    <!-- END HEADER-3 -->