{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="author" content="{{ cafe.Cafe_Name }}"/>
<meta name="description" content="{{ cafe.Cafe_Description }}"/>
<meta name="keywords"
      content="{{ cafe.Cafe_keywords }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- SITE TITLE -->
<title>{{ cafe.Cafe_Name }}</title>

<!-- FAVICON AND TOUCH ICONS -->
<link rel="shortcut icon" href="{{ cafe.Cafe_favicon.url }}" type="image/x-icon">
<link rel="icon" href="{{ cafe.Cafe_favicon.url }}" type="image/x-icon">
<link rel="apple-touch-icon" sizes="57x57" href="{{ cafe.Cafe_Apple_Touch_Icon57.url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ cafe.Cafe_Apple_Touch_Icon60.url}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ cafe.Cafe_Apple_Touch_Icon72.url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ cafe.Cafe_Apple_Touch_Icon76.url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ cafe.Cafe_Apple_Touch_Icon114.url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ cafe.Cafe_Apple_Touch_Icon120.url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ cafe.Cafe_Apple_Touch_Icon144.url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ cafe.Cafe_Apple_Touch_Icon152.url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ cafe.Cafe_Apple_Touch_Icon180.url }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ cafe.Cafe_Apple_Touch_Icon192.url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ cafe.Cafe_Apple_Touch_Icon32.url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ cafe.Cafe_Apple_Touch_Icon96.url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ cafe.Cafe_Apple_Touch_Icon16.url }}">
<link rel="manifest" href="{% static 'manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ cafe.Cafe_Msapplication }}">
<meta name="theme-color" content="#ffffff">

<!-- FONTS -->
<link href="{% static 'css/fonts.css' %}" rel="stylesheet">

<!-- BOOTSTRAP CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- FONT ICONS -->
<link href="https://use.fontawesome.com/releases/v5.11.0/css/all.css" rel="stylesheet" crossorigin="anonymous">
<link href="{% static 'css/flaticon.css' %}" rel="stylesheet">

<!-- PLUGINS STYLESHEET -->
<link href="{% static 'css/menu.css' %}" rel="stylesheet">
<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.datetimepicker.min.css' %}" rel="stylesheet">

<!-- TEMPLATE CSS -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<!-- RESPONSIVE CSS -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">