<!-- HEADER-3
============================================= -->
<header id="header-3" class="header navik-header header-transparent header-shadow">
    <div class="container">


        <!-- NAVIGATION MENU -->
        <div class="navik-header-container">


            <!-- CALL BUTTON -->
            {% if cafe.Cafe_Tel1 %}
                <div class="callusbtn text-right"><a href="tel:{{ cafe.Cafe_Tel1 }}"><i class="fas fa-phone"></i></a>
                </div>
            {% endif %}

            <!-- LOGO IMAGE -->
            {% if cafe.Cafe_Header_Logo %}
                <div class="logo" data-mobile-logo="{{ cafe.Cafe_Header_Logo.url }}"
                     data-sticky-logo="{{ cafe.Cafe_Header_Logo.url }}">
                    <a href="index.html"><img src="{{ cafe.Cafe_Header_Logo.url }}"
                                              alt="{{ cafe.Cafe_UserName }}-header-logo"/></a>
                </div>
            {% endif %}

            <!-- BURGER MENU -->
            <div class="burger-menu">
                <div class="line-menu line-half first-line"></div>
                <div class="line-menu"></div>
                <div class="line-menu line-half last-line"></div>
            </div>


            <!-- MAIN MENU -->
            <nav class="navik-menu menu-caret navik-yellow">
                <ul class="top-list text-right">
                    <!-- DROPDOWN MENU -->
                    <li><a href="{{ url }}/about">درباره ما</a></li>
                    <li><a href="{{ url }}/team">تیم ما</a></li>
                    <li><a href="{{ url }}/gallery">گالری عکس</a></li>
                    <!-- DROPDOWN MENU -->
                    <li><a href="#">منو</a>
                        <ul>
                            <li><a href="menu-1.html">منو کلاسیک</a></li>
                            <li><a href="menu-2.html">منو پیشرفته</a></li>
                        </ul>
                    </li>

                    <!-- HEADER BUTTON  -->
                    {% if cafe.Cafe_Tel1 %}
                        <li class="nav-btn yellow-color"><a href="tel:{{ cafe.Cafe_Tel1 }}">{{ cafe.Cafe_Tel1 }}</a>
                        </li>
                    {% endif %}


                </ul>
            </nav>    <!-- END MAIN MENU -->


        </div>    <!-- END NAVIGATION MENU -->


    </div>     <!-- End container -->
</header>    <!-- END HEADER-3 -->