{% extends 'shared/panel/_PanelMain.html' %}
{% load static %}
{% block header %}
    <link href="{% static 'panel/css/sweetalert2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
    <div class="ms-content-wrapper box">

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pl-0">
                        <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> خانه</a></li>
                        <li class="breadcrumb-item"><a href="#">منو</a></li>
                        <li class="breadcrumb-item active" aria-current="page">کاتالوگ منو</li>
                    </ol>
                </nav>
            </div>

            {% if gallery %}
                {% for g in gallery %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="ms-card">
                            <div class="ms-card-img">
                                <img src="{{ g.Img.url }}" alt="gallery_img_g{{ g.id }}">
                            </div>
                            <div class="ms-card-body ">
                                <div class="wrapper-new2 ">
                                    <h6>{{ g.Name }}</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button type="button"
                                            onclick="location.href='{% url 'gallery:Gallery_update' pk=g.id %}';"
                                            class="btn btn-primary">ویرایش
                                    </button>
                                    <button type="button" class="btn btn-secondary" onclick="Delete({{ g.pk }})">حذف
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}
            <div class="col-xl-12 col-md-12">
                <div class="load">
                    <i class="fas fa-redo alt  space text-muted" aria-hidden="true"></i><span
                        class="more">بیشتر ببینید</span>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block footer %}
    <script src="{% static 'panel/js/sweetalert2.min.js' %}">
    </script>
    <script src="{% static 'panel/js/sweet-alerts.js' %}"></script>
    <script>
        function Delete(g_id) {
            Swal.fire({
                title: 'مطمئن هستید؟',
                text: "این عملیات غیرقابل بازگشت ست!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله!'
            }).then(function (result) {
                if (result.value) {
                    var r = "{% url 'gallery:Gallery_delete' pk=1 %}";
                    let my = r.split("/delete/");
                    let nn = my.toString().split("/");
                    let bb = nn.slice(-1)[0]
                    let res = r.toString().replace(bb.toString()[0], g_id);
                    $.post(res);
                    window.location.href = '{% url 'gallery:all' %}';
                }
            });
        }
    </script>
{% endblock %}