{% extends 'shared/cafe/_CafeMain.html' %}
{% load static %}
{% block page %}
    <!-- PAGE HERO
       ============================================= -->
    <div id="menu-page" style="background-image: url({{ cafe.Cafe_Header_Home_Background.url }});"
         class="page-hero-section division">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-txt text-center white-color">
                        <!-- Title -->
                        <h2 class="h2-xl">{{ cafe.Cafe_Name }}</h2>
                    </div>
                </div>
            </div>      <!-- End row -->
        </div>       <!-- End container -->
    </div>    <!-- END PAGE HERO -->
    <!-- MENU-8
        ============================================= -->
    <section id="menu-8" class="wide-70 menu-section division">
        <div class="container">


            <!-- TABS NAVIGATION -->
            <div id="tabs-nav">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <ul class="tabs-1 ico-55 red-tabs clearfix">
                            {% if category %}
                                {% for cat in category %}
                                    <li class="tab-link current" data-tab="tab-{{ cat.First }}">
                                        <span><img style="width: 45px;height: 45px;" src="{{ cat.Img.url }}"
                                                   alt="{{ cat.First }}"></span>
                                        <h5 class="h5-sm">{{ cat.NameFa }}</h5>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <p>دسته بندی ثبت نشده</p>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div> <!-- END TABS NAVIGATION -->

            <!-- TABS CONTENT -->
            <div id="tabs-content">
                <div id="tab-{{ category.first.First }}" class="tab-content current">
                    <div class="row">
                        {% for Foo in food %}
                            {% if Foo.FoodCategory_id == category.first.pk %}
                                <!-- MENU ITEM #1 -->
                                <div class="col-sm-6 col-lg-3">
                                    <div class="menu-7-item">

                                        <!-- IMAGE -->
                                        <div class="menu-7-img rel">

                                            <!-- Image -->
                                            <img class="img-fluid" style="width: 600px;height: 500px;" src="{{ Foo.Image.url }}"
                                                 alt="menu-image"/>

                                            <!-- Price -->
                                            <div class="menu-7-price bg-coffee">

                                                {% if Foo.Discount %}
                                                    <h5 class="h5-xs yellow-color">
                                                        <del>{{ Foo.Price }} ت</del>
                                                        {{ Foo.Discount }} ت
                                                    </h5>
                                                {% else %}
                                                    <h5 class="h5-xs yellow-color">{{ Foo.Price }} ت</h5>
                                                {% endif %}
                                            </div>

                                        </div>

                                        <!-- TEXT -->
                                        <div class="menu-7-txt rel">

                                            <!-- Title -->
                                            <h5 class="h5-sm">{{ Foo.Title }}</h5>

                                            <!-- Description -->
                                            <p class="grey-color">{{ Foo.Ingredients }}</p>

                                            <!-- Button -->
                                            <a href="p/{{ Foo.id }}"
                                               class="btn btn-sm btn-tra-grey yellow-hover">
                                                <span class="flaticon"></span>جزئیات بیشتر
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>  <!-- End row -->
                </div>    <!-- END TAB-1 CONTENT -->

                {% for cat in category %}
                    {% if category.first.id != cat.id %}
                        <div id="tab-{{ cat.First }}" class="tab-content">
                            <div class="row">
                                {% for Foo in food %}
                                    {% if Foo.FoodCategory.id == cat.id %}
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="menu-7-item">

                                                <!-- IMAGE -->
                                                <div class="menu-7-img rel">

                                                    <!-- Image -->
                                                    <img class="img-fluid" src="{{ Foo.Image.url }}"
                                                         alt="menu-image"/>

                                                    <!-- Price -->
                                                    <div class="menu-7-price bg-coffee">
                                                        {% if Foo.Discount %}
                                                            <h5 class="h5-xs yellow-color">
                                                                <del>{{ Foo.Price }} ت</del>
                                                                {{ Foo.Discount }} ت
                                                            </h5>
                                                        {% else %}
                                                            <h5 class="h5-xs yellow-color">{{ Foo.Price }} ت</h5>
                                                        {% endif %}
                                                    </div>

                                                </div>

                                                <!-- TEXT -->
                                                <div class="menu-7-txt rel">

                                                    <!-- Title -->
                                                    <h5 class="h5-sm">{{ Foo.Title }}</h5>

                                                    <!-- Description -->
                                                    <p class="grey-color">{{ Foo.Ingredients }}</p>

                                                    <!-- Button -->
                                                    <a href="p/{{ Foo.id }}"
                                                       class="btn btn-sm btn-tra-grey yellow-hover">
                                                        <span class="flaticon"></span>جزئیات بیشتر
                                                    </a>

                                                </div>

                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}


                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>    <!-- END TABS CONTENT -->


        </div>       <!-- End container -->
    </section>    <!-- END MENU-8 -->
{% endblock %}