{% extends 'shared/cafe/_CafeMain.html' %}
{% load static %}
{% block page %}
    <!-- PAGE HERO
       ============================================= -->
    <div id="menu-page" style="background-image: url({{ cafe.Cafe_Header_Home_Background.url }});" class="page-hero-section division">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-txt text-center white-color">
                        <!-- Title -->
                        <h2 class="h2-xl">{{ cafe.Cafe_Name }}</h2>
                    </div>
                </div>
            </div>      <!-- End row -->
        </div>       <!-- End container -->
    </div>    <!-- END PAGE HERO -->
    <!-- MENU-8
        ============================================= -->
    <section id="menu-8" class="wide-70 menu-section division">
        <div class="container">


            <!-- TABS NAVIGATION -->
            <div id="tabs-nav">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <ul class="tabs-1 ico-55 red-tabs clearfix">
                            {% if category %}
                                {% for cat in category %}
                                    <li class="tab-link current" data-tab="tab-{{ cat.First }}">
                                        <span><img src="{{ cat.Img.url }}" alt="{{ cat.First }}"></span>
                                        <h5 class="h5-sm">{{ cat.NameFa }}</h5>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <p>دسته بندی ثبت نشده</p>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div> <!-- END TABS NAVIGATION -->


            <!-- TABS CONTENT -->
            <div id="tabs-content">

                {% for cat in category %}
                    <div id="tab-{{ cat.First }}" class="tab-content current">
                        <div class="row">
                            {% for Foo in food %}
                                {% if Foo.FoodCategory_id == cat.id %}


                                    <!-- MENU ITEM #1 -->
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="menu-7-item">

                                            <!-- IMAGE -->
                                            <div class="menu-7-img rel">

                                                <!-- Image -->
                                                <img class="img-fluid" src="{{ Foo.Image.url }}"
                                                     alt="menu-image"/>

                                                <!-- Price -->
                                                <div class="menu-7-price bg-coffee">
                                                    <h5 class="h5-xs yellow-color">{{ Foo.Price }} ت</h5>
                                                </div>

                                            </div>

                                            <!-- TEXT -->
                                            <div class="menu-7-txt rel">

                                                <!-- Title -->
                                                <h5 class="h5-sm">{{ Foo.Title }}</h5>

                                                <!-- Description -->
                                                <p class="grey-color">{{ Foo.Ingredients }}</p>

                                                <!-- Button -->
                                                <a href="#"
                                                   class="btn btn-sm btn-tra-grey yellow-hover">
                                                    <span class="flaticon-shopping-bag"></span>جزئیات بیشتر
                                                </a>

                                            </div>

                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>  <!-- End row -->

                    </div>    <!-- END TAB-1 CONTENT -->
                {% endfor %}

                <!-- TAB-1 CONTENT -->
                <div id="tab-" class="tab-content current">
                    توجه کن
                </div>    <!-- END TAB-1 CONTENT -->



            </div>    <!-- END TABS CONTENT -->


        </div>       <!-- End container -->
    </section>    <!-- END MENU-8 -->
    <!-- BANNER-4
       ============================================= -->
    <section id="banner-4" class="bg-fixed wide-100 banner-section division">
        <div class="container">
            <div class="row">


                <!-- BANNER TEXT -->
                <div class="col-lg-10 col-xl-8 ms-auto me-auto">
                    <div class="banner-4-txt text-center">

                        <!-- Title  -->
                        <h4 class="h4-xl">ضمانت</h4>

                        <!-- Title  -->
                        <h2>تحویل 30 دقیقه ای</h2>

                        <!-- Text -->
                        <p class="p-lg">از این متن تستی می تواند سرعت پیشرفت پروژه را افزایش دهد، و طراحان به جای تایپ و
                            نگارش متن می توانند تنها با یک کپی و پست این متن را در کادرهای مختلف
                        </p>

                        <!-- Call Button -->
                        <a href="tel:{{ cafe.Cafe_Tel1 }}"
                           class="btn btn-lg btn-red tra-red-hover">تماس: {{ cafe.Cafe_Tel1 }}</a>

                    </div>
                </div>


            </div>      <!-- End row -->
        </div>        <!-- End container -->
    </section>    <!-- END BANNER-4 -->
{% endblock %}