{% extends 'shared/cafe/_CafeMain.html' %}
{% load static %}
{% block page %}
    <!-- PAGE HERO
      ============================================= -->
    <div id="product-page" style="background-image: url({{ cafe.Cafe_Header_Home_Background.url }});"
         class="page-hero-section division">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-txt text-center white-color">


                        <!-- Title -->
                        <h2 class="h2-xl"> {{ food.Title }}</h2>

                    </div>
                </div>
            </div>      <!-- End row -->
        </div>       <!-- End container -->
    </div>    <!-- END PAGE HERO -->


    <!-- SINGLE PRODUCT
    ============================================= -->
    <section id="product-1" class="pt-100 single-product division">
        <div class="container">
            <div class="row">


                <!-- PRODUCT IMAGE -->
                <div class="col-lg-7">
                    <div class="product-preview">


                        <!-- TABS CONTENT -->
                        <div class="tabs-content">
                            {% if food.Image %}
                                <div id="tab-1-img" class="tab-content text-center displayed">
                                    <img class="img-fluid" src="{{ food.Image.url }}"
                                         alt="menu-image"/>
                                </div>
                            {% endif %}
                            {% if food.Gallery_Image_1 %}
                                <div id="tab-2-img" class="tab-content text-center">
                                    <img class="img-fluid" src="{{ food.Gallery_Image_1.url }}"
                                         alt="menu-image"/>
                                </div>
                            {% endif %}
                            {% if food.Gallery_Image_2 %}
                                <div id="tab-3-img" class="tab-content text-center">
                                    <img class="img-fluid" src="{{ food.Gallery_Image_2.url }}"
                                         alt="menu-image"/>
                                </div>
                            {% endif %}



                        </div>    <!-- END TABS CONTENT -->


                        <!-- TABS NAVIGATION -->
                        <div class="tabs-nav">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <ul class="tabs-2 clearfix">
                                        {% if food.Image %}
                                            <li class="tab-link" data-tab="tab-1-img">
                                                <img src="{{ food.Image.url }}" alt="menu-image"/>
                                            </li>
                                        {% endif %}
                                        {% if food.Gallery_Image_1 %}
                                            <li class="tab-link" data-tab="tab-2-img">
                                                <img src="{{ food.Gallery_Image_1.url }}" alt="menu-image"/>
                                            </li>
                                        {% endif %}
                                        {% if food.Gallery_Image_2 %}
                                            <li class="tab-link" data-tab="tab-3-img">
                                                <img src="{{ food.Gallery_Image_2.url }}" alt="menu-image"/>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- END TABS NAVIGATION -->


                    </div>
                </div>    <!-- END PRODUCT IMAGE -->


                <!-- PRODUCT DISCRIPTION -->
                <div class="col-lg-5">
                    <div class="product-description">

                        <!-- TITLE -->
                        <div class="project-title">

                            <!-- Title -->
                            <h2 class="h2-lg">{{ food.Title }}</h2>


                            <!-- Price -->
                            <div class="project-price">
                                {% if food.Discount %}
                                    <h4 class="h4-xl yellow-color"><span
                                            class="old-price">{{ food.Price }} ت</span> {{ food.Discount }} ت
                                    </h4>
                                {% else %}
                                    <h4 class="h4-xl yellow-color">
                                        <span>{{ food.Price }} ت</span>
                                    </h4>
                                {% endif %}

                            </div>

                        </div>

                        <!-- TEXT -->
                        <div class="product-txt">

                            <!-- Text -->
                            <p class="p-md grey-color">
                                {{ food.Description_Short }}
                            </p>

                            <!-- Product Data -->
                            <div class="product-info">
                                {% if food.Ingredients %}
                                    <p>مواد تشکیل دهنده: <span style="position: revert;">{{ food.Ingredients }}</span>
                                    </p>
                                {% endif %}
                                {% if food.Calories %}
                                    <p>کالری: <span>{{ food.Calories }} کیلو کالری</span></p>
                                {% endif %}
                                {% if food.Allergy %}
                                    <p>آلرژی: <span>{{ food.Allergy }}</span></p>
                                {% endif %}
                                {% if food.Tag %}
                                    <p>تگ: <span>{{ food.Tag }}</span></p>
                                {% endif %}
                            </div>


                        </div>    <!-- END TEXT-->

                    </div>
                </div>    <!-- END PRODUCT DISCRIPTION -->


            </div>      <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- END SINGLE PRODUCT -->


    <!-- SINGLE PRODUCT DATA
    ============================================= -->
    <section id="product-1-data" class="wide-80 single-product-data division">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <!-- TABS NAVIGATION -->
                        <div class="tabs-nav">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <ul class="tabs-1 clearfix">

                                        <!-- TAB-1 LINK -->
                                        <li class="tab-link current" data-tab="tab-1">
                                            <h5 class="h5-sm">توضیحات</h5>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div> <!-- END TABS NAVIGATION -->


                        <!-- TABS CONTENT -->
                        <div class="tabs-content">


                            <!-- TAB-1 CONTENT -->
                            <div id="tab-1" class="tab-content current">

                                <p>{{ food.Description_Long }}</p>

                            </div>    <!-- END TAB-1 CONTENT -->


                        </div>    <!-- END TABS CONTENT -->


                    </div>
                </div>
            </div>      <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- END SINGLE PRODUCT DATA -->


    <!-- MENU-6
    ============================================= -->
    <section id="menu-6" class="bg-lightgrey wide-70 menu-section division">
        <div class="container">


            <!-- SECTION TITLE -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title mb-60 text-center">
                        <!-- Title 	-->
                        <h2 class="h2-xl">محصولات مرتبط</h2>
                    </div>
                </div>
            </div>


            <div class="row">

                {% if food_suggestion %}
                    {% for fs in food_suggestion %}
                        <!-- MENU ITEM #1 -->
                        <div class="col-sm-6 col-lg-3">
                            <div class="menu-6-item bg-white">

                                <!-- IMAGE -->
                                <div class="menu-6-img rel">
                                    <div class="hover-overlay">

                                        <!-- Image -->
                                        <img class="img-fluid" src="{{ fs.Image.url }}" alt="{{ fs.Title }}"/>

                                        <!-- Zoom Icon -->
                                        <div class="menu-img-zoom ico-25">
                                            <a href="{{ fs.Image.url }}" class="{{ fs.Title }}">
                                                <span class="flaticon-zoom"></span>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <!-- TEXT -->
                                <div class="menu-6-txt rel">
                                    <!-- Title -->
                                    <a href="{% url 'dgmenu_cafe:cafe_food_detail' cafename=cafe.Cafe_UserName id=fs.id %}">
                                        <h5 class="h5-sm">{{ fs.Title }}</h5></a>
                                    <!-- Description -->
                                    <p class="grey-color">{{ fs.Ingredients }}</p>

                                    <!-- Price -->
                                    <div class="menu-6-price bg-coffee">
                                        {% if fs.Discount %}
                                            <h5 class="h5-xs yellow-color">
                                            <span
                                                    class="old-price">{{ fs.Price }} ت</span> {{ fs.Discount }} ت
                                            </h5>
                                        {% else %}
                                            <h5 class="h5-xs yellow-color">
                                                <span>{{ fs.Price }} ت</span>
                                            </h5>
                                        {% endif %}
                                    </div>

                                    <!-- Add To Cart -->
                                    <div class="add-to-cart bg-yellow ico-10">
                                        <a href="{% url 'dgmenu_cafe:cafe_food_detail' cafename=cafe.Cafe_UserName id=fs.id %}"><span
                                                class="flaticon"></span>جزئیات بیشتر</a>
                                    </div>

                                </div>

                            </div>
                        </div>    <!-- END MENU ITEM #1 -->
                    {% endfor %}

                {% endif %}


            </div>      <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- END MENU-6 -->
{% endblock %}