{% extends 'shared/cafe/_CafeMain.html' %}
{% load static %}
{% block page %}

    <!-- PAGE HERO
    ============================================= -->
    <div id="team-page" style="background-image: url({{ cafe.Cafe_Header_Gallery_Background.url }});"
         class="page-hero-section division">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-txt text-center white-color">

                        <!-- Breadcrumb -->
                        <div id="breadcrumb">
                            <div class="row">
                                <div class="col">
                                    <div class="breadcrumb-nav">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="demo-1.html">خانه</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">تیم</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Title -->
                        <h2 class="h2-xl">تیم ما</h2>

                    </div>
                </div>
            </div>      <!-- End row -->
        </div>       <!-- End container -->
    </div>    <!-- END PAGE HERO -->


    <!-- TEAM-1
    ============================================= -->
    <section id="team-1" class="team-1 wide-60 reviews-section division">
        <div class="container">


            <!-- TEAM-1 WRAPPER -->
            <div class="team-1-wrapper text-center">
                <div class="row">

                    {% if Cafe_Team %}
                        {% for p in Cafe_Team %}
                            <div class="col-sm-6 col-lg-3">
                                <div class="team-member">

                                    <!-- Team Member Photo -->
                                    <div class="team-member-photo">

                                        <img class="img-fluid" src="{{ p.Profile.url }}"
                                             alt="{{ cafe.Cafe_Name }}-{{ p.Name }} {{ p.Family }}">

                                        <!-- Social Icons -->
                                        <div class="tm-social clearfix">
                                            <ul class="text-center clearfix">
                                                {% if p.facebook %}
                                                    <li><a href="{{ p.facebook }}" class="ico-facebook"><i
                                                            class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                {% endif %}
                                                {% if p.instagram %}
                                                    <li><a href="{{ p.instagram }}" class="ico-instagram"><i
                                                            class="fab fa-instagram"></i></a></li>
                                                {% endif %}
                                                {% if p.linkedin %}
                                                    <li><a href="{{ p.linkedin }}" class="ico-linkedin"><i
                                                            class="fab fa-linkedin-in"></i></a>
                                                    </li>
                                                {% endif %}

                                            </ul>
                                        </div>

                                    </div>

                                    <!-- Team Member Meta -->
                                    <div class="tm-meta">
                                        <h5 class="h5-xs">{{ p.Name }} {{ p.Family }}</h5>
                                        <span class="yellow-color">{{ p.JobType }}</span>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                    {% else %}
                        <p> اطلاعات ثبت نشده</p>
                    {% endif %}
                    <!-- TEAM MEMBER #1 -->
                </div>
            </div>    <!-- END TEAM-1 WRAPPER -->


        </div>        <!-- End container -->
    </section>     <!-- END TEAM-1 -->
{% endblock %}