{% extends 'shared/panel/_PanelMain.html' %}
{% load static %}
{% block main %}
 <div class="ms-content-wrapper">
      <div class="row">
        <div class="col-md-12">
          <h1 class="db-header-title">خوش آمدی صنم</h1>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
            <span class="ms-chart-label bg-black"><i class="material-icons">arrow_upward</i> 3.2%</span>
            <div class="ms-card-body media">
              <div class="media-body">
                <span class="black-text"><strong>گراف فروش</strong></span>
                <h2> تومان 8,451</h2>
              </div>
            </div>
            <canvas id="line-chart"></canvas>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
            <span class="ms-chart-label bg-red"><i class="material-icons">arrow_downward</i> 4.5%</span>
            <div class="ms-card-body media">
              <div class="media-body">
                <span class="black-text"><strong>بازدیدکنندگان</strong></span>
                <h2>3,973</h2>
              </div>
            </div>
            <canvas id="line-chart-2"></canvas>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
            <span class="ms-chart-label bg-black"><i class="material-icons">arrow_upward</i> 12.5%</span>
            <div class="ms-card-body media">
              <div class="media-body">
                <span class="black-text"><strong>کاربران جدید</strong></span>
                <h2>7,333</h2>
              </div>
            </div>
            <canvas id="line-chart-3"></canvas>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
            <span class="ms-chart-label bg-red"><i class="material-icons">arrow_upward</i> 9.5%</span>
            <div class="ms-card-body media">
              <div class="media-body">
                <span class="black-text"><strong>سفارشات</strong></span>
                <h2>48,973</h2>
              </div>
            </div>
            <canvas id="line-chart-4"></canvas>
          </div>
        </div>
        <!-- Recent Orders Requested -->
        <div class="col-xl-6 col-md-12">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <div class="d-flex justify-content-between">
                <div class="align-self-center align-left">
                  <h6>آخرین سفارشات انجام شده</h6>
                </div>
                <button type="button" class="btn btn-primary">دیدن همگی</button>
              </div>
            </div>
            <div class="ms-panel-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">غذا</th>
                      <th scope="col">قیمت</th>
                      <th scope="col">شماره محصول</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="ms-table-f-w"> <img src="assets/img/costic/pizza.jpg" alt="people"> پیتزا</td>
                      <td>250000 تومان</td>
                      <td>67384917</td>
                    </tr>
                    <tr>
                      <td class="ms-table-f-w"> <img src="assets/img/costic/french-fries.jpg" alt="people">سوخاری</td>
                      <td>260000 تومان</td>
                      <td>789393819</td>
                    </tr>
                    <tr>
                      <td class="ms-table-f-w"> <img src="assets/img/costic/cereals.jpg" alt="people">جوحه کباب</td>
                      <td>460000 تومان</td>
                      <td>137893137</td>
                    </tr>
                    <tr>
                      <td class="ms-table-f-w"> <img src="assets/img/costic/egg-sandwich.jpg" alt="people"> ساندویچ زاپاتا </td>
                      <td>400000 تومان</td>
                      <td>235193138</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-12">
          <div class="ms-panel ms-panel-fh">
            <div class="ms-panel-header new">
              <h6>تقویم ماهانه</h6>
              <select class="form-control new" id="exampleSelect">
                <option value="1">فروردین</option>
                <option value="2">اردیبهشت</option>
                <option value="3">خرداد </option>
                <option value="4">تیر</option>
                <option value="5">مرداد</option>
                <option value="1">شهوریور</option>
                <option value="2">مهر</option>
                <option value="3">آبان</option>
                <option value="4">آذر</option>
                <option value="5">دی</option>
                <option value="4">بهمن</option>
                <option value="5">اسفند</option>
              </select>
            </div>
            <div class="ms-panel-body">
              <span class="progress-label"> <strong>هفته 1</strong> </span>
              <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
              <span class="progress-label"> <strong>هفته 2</strong> </span>
              <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
              <span class="progress-label"> <strong>هفته 3</strong> </span>
              <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
              <span class="progress-label"> <strong>هفته 4</strong> </span>
              <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Food Orders -->
        <div class="col-md-12">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>سفارشات پرطرفدار</h6>
            </div>
            <div class="ms-panel-body">
              <div class="row">

                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="ms-card no-margin">
                    <div class="ms-card-img">
                      <img src="assets/img/costic/food-5.jpg" alt="card_img">
                    </div>
                    <div class="ms-card-body">
                      <div class="ms-card-heading-title">
                        <h6>برگر ذغالی</h6>
                        <span class="green-text"><strong>50000 تومان</strong></span>
                      </div>

                      <div class="ms-card-heading-title">
                        <p>سفارشات<span class="red-text">15</span></p>
                        <p>درآمد<span class="red-text">50000 تومان</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="ms-card no-margin">
                    <div class="ms-card-img">
                      <img src="assets/img/costic/food-2.jpg" alt="card_img">
                    </div>
                    <div class="ms-card-body">
                      <div class="ms-card-heading-title">
                        <h6>پنکیک</h6>
                        <span class="green-text"><strong>10000 تومان</strong></span>
                      </div>

                      <div class="ms-card-heading-title">
                        <p>سفارشات<span class="red-text">75</span></p>
                        <p>درآمد<span class="red-text">50000 تومان</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="ms-card no-margin">
                    <div class="ms-card-img">
                      <img src="assets/img/costic/food-4.jpg" alt="card_img">
                    </div>
                    <div class="ms-card-body">
                      <div class="ms-card-heading-title">
                        <h6>چیزبرگر</h6>
                        <span class="green-text"><strong>50000 تومان</strong></span>
                      </div>

                      <div class="ms-card-heading-title">
                        <p>سفارشات<span class="red-text">85</span></p>
                        <p>درآمد<span class="red-text">50000 تومان</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="ms-card no-margin">
                    <div class="ms-card-img">
                      <img src="assets/img/costic/food-3.jpg" alt="card_img">
                    </div>
                    <div class="ms-card-body">
                      <div class="ms-card-heading-title">
                        <h6>سالاد سزار</h6>
                        <span class="green-text"><strong>50000 تومان</strong></span>
                      </div>
                      <div class="ms-card-heading-title">
                        <p>سفارشات<span class="red-text">175</span></p>
                        <p>درآمد<span class="red-text">50000 تومان</span></p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- END/Food Orders -->
        <!-- Recent Orders Requested -->
        <div class="col-xl-7 col-md-12">
          <div class="ms-panel ms-panel-fh">
            <div class="ms-panel-header">
              <div class="d-flex justify-content-between">
                <div class="ms-header-text">
                  <h6>نمودار زمانی سفارش</h6>
                </div>
              </div>

            </div>
            <div class="ms-panel-body pt-0">
              <div class="d-flex justify-content-between ms-graph-meta">
                <ul class="ms-list-flex mt-3 mb-5">
                  <li>
                    <span> سفارشات کلی</span>
                    <h3 class="ms-count">703,49</h3>
                  </li>
                  <li>
                    <span> سفارشات جدید</span>
                    <h3 class="ms-count">95,038</h3>
                  </li>
                  <li>
                    <span> سفارشات تکرارشونده</span>
                    <h3 class="ms-count">28,387</h3>
                  </li>
                  <li>
                    <span> سفارشات لغو شده</span>
                    <h3 class="ms-count">260</h3>
                  </li>
                </ul>
              </div>
              <canvas id="youtube-subscribers"></canvas>
            </div>
          </div>
        </div>

        <!-- Favourite Products -->
        <div class="col-xl-5 col-md-12">
          <div class="ms-panel ms-widget ms-crypto-widget">
            <div class="ms-panel-header">
              <h6>نمودار محبوبیت</h6>
            </div>
            <div class="ms-panel-body p-0">
              <ul class="nav nav-tabs nav-justified has-gap px-4 pt-4" role="tablist">
                <li role="presentation" class="fs-12"><a href="#btc" aria-controls="btc" class="active show" role="tab" data-toggle="tab"> شنبه </a></li>
                <li role="presentation" class="fs-12"><a href="#xrp" aria-controls="xrp" role="tab" data-toggle="tab"> یکشنبه </a></li>
                <li role="presentation" class="fs-12"><a href="#ltc" aria-controls="ltc" role="tab" data-toggle="tab"> دوشنبه </a></li>
                <li role="presentation" class="fs-12"><a href="#eth" aria-controls="eth" role="tab" data-toggle="tab"> سه شنبه </a></li>
                <li role="presentation" class="fs-12"><a href="#zec" aria-controls="zec" role="tab" data-toggle="tab"> چهارشنبه </a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active show fade in" id="btc">
                  <div class="table-responsive">
                    <table class="table table-hover thead-light">
                      <thead>
                        <tr>
                          <th scope="col">نام رستوران </th>
                          <th scope="col">امتیاز</th>
                          <th scope="col">سفارشات</th>
                          <th scope="col">رشد</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>خانه همبرگر</td>
                          <td>8528</td>
                          <td class="ms-text-success">+17.24%</td>
                          <td>7.65%</td>
                        </tr>
                        <tr>
                          <td>رستوران لذیذ</td>
                          <td>4867</td>
                          <td class="ms-text-danger">-12.24%</td>
                          <td>9.12%</td>
                        </tr>
                        <tr>
                          <td>خوشمزه‌جات</td>
                          <td>7538</td>
                          <td class="ms-text-success">+32.04%</td>
                          <td>14.29%</td>
                        </tr>
                        <tr>
                          <td>مزه‌سرا</td>
                          <td>1614</td>
                          <td class="ms-text-danger">-20.75%</td>
                          <td>12.25%</td>
                        </tr>
                        <tr>
                          <td>لمیز</td>
                          <td>7538</td>
                          <td class="ms-text-success">+32.04%</td>
                          <td>14.29%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="xrp">
                  <div class="table-responsive">
                    <table class="table table-hover thead-light">
                      <thead>
                        <tr>
                          <th scope="col">نام رستوران </th>
                          <th scope="col">امتیاز</th>
                          <th scope="col">سفارشات</th>
                          <th scope="col">رشد</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         <td>خانه همبرگر</td>
                          <td>8528</td>
                          <td class="ms-text-success">+17.24%</td>
                          <td>7.65%</td>
                        </tr>
                        <tr>
                          <td>رستوران لذیذ</td>
                          <td>4867</td>
                          <td class="ms-text-danger">-12.24%</td>
                          <td>9.12%</td>
                        </tr>
                        <tr>
                           <td>خوشمزه‌جات</td>
                          <td>7538</td>
                          <td class="ms-text-success">+32.04%</td>
                          <td>14.29%</td>
                        </tr>
                        <tr>
                          <td>مزه‌سرا</td>
                          <td>1614</td>
                          <td class="ms-text-danger">-20.75%</td>
                          <td>12.25%</td>
                        </tr>
                        <tr>
                           <td>لمیز</td>
                          <td>7538</td>
                          <td class="ms-text-success">+32.04%</td>
                          <td>14.29%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="ltc">
                  <div class="table-responsive">
                    <table class="table table-hover thead-light">
                      <thead>
                        <tr>
                          <th scope="col">نام رستوران </th>
                          <th scope="col">امتیاز</th>
                          <th scope="col">سفارشات</th>
                          <th scope="col">رشد</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         <td>خانه همبرگر</td>
                          <td>8528</td>
                          <td class="ms-text-success">+17.24%</td>
                          <td>7.65%</td>
                        </tr>
                        <tr>
                          <td>رستوران لذیذ</td>
                          <td>4867</td>
                          <td class="ms-text-danger">-12.24%</td>
                          <td>9.12%</td>
                        </tr>
                        <tr>
                           <td>خوشمزه‌جات</td>
                          <td>7538</td>
                          <td class="ms-text-success">+32.04%</td>
                          <td>14.29%</td>
                        </tr>
                        <tr>
                          <td>مزه‌سرا</td>
                          <td>1614</td>
                          <td class="ms-text-danger">-20.75%</td>
                          <td>12.25%</td>
                        </tr>
                        <tr>
                           <td>لمیز</td>
                          <td>7538</td>
                          <td class="ms-text-success">+32.04%</td>
                          <td>14.29%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="eth">
                  <div class="table-responsive">
                    <table class="table table-hover thead-light">
                      <thead>
                        <tr>
                          <th scope="col">نام رستوران </th>
                          <th scope="col">امتیاز</th>
                          <th scope="col">سفارشات</th>
                          <th scope="col">رشد</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         <td>خانه همبرگر</td>
                          <td>8528</td>
                          <td class="ms-text-success">+17.24%</td>
                          <td>7.65%</td>
                        </tr>
                        <tr>
                          <td>رستوران لذیذ</td>
                          <td>4867</td>
                          <td class="ms-text-danger">-12.24%</td>
                          <td>9.12%</td>
                        </tr>
                        <tr>
                           <td>خوشمزه‌جات</td>
                          <td>7538</td>
                          <td class="ms-text-success">+32.04%</td>
                          <td>14.29%</td>
                        </tr>
                        <tr>
                          <td>مزه‌سرا</td>
                          <td>1614</td>
                          <td class="ms-text-danger">-20.75%</td>
                          <td>12.25%</td>
                        </tr>
                        <tr>
                           <td>لمیز</td>
                          <td>7538</td>
                          <td class="ms-text-success">+32.04%</td>
                          <td>14.29%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="zec">
                  <div class="table-responsive">
                    <table class="table table-hover thead-light">
                      <thead>
                        <tr>
                          <th scope="col">نام رستوران </th>
                          <th scope="col">امتیاز</th>
                          <th scope="col">سفارشات</th>
                          <th scope="col">رشد</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         <td>خانه همبرگر</td>
                          <td>8528</td>
                          <td class="ms-text-success">+17.24%</td>
                          <td>7.65%</td>
                        </tr>
                        <tr>
                          <td>رستوران لذیذ</td>
                          <td>4867</td>
                          <td class="ms-text-danger">-12.24%</td>
                          <td>9.12%</td>
                        </tr>
                        <tr>
                           <td>خوشمزه‌جات</td>
                          <td>7538</td>
                          <td class="ms-text-success">+32.04%</td>
                          <td>14.29%</td>
                        </tr>
                        <tr>
                          <td>مزه‌سرا</td>
                          <td>1614</td>
                          <td class="ms-text-danger">-20.75%</td>
                          <td>12.25%</td>
                        </tr>
                        <tr>
                           <td>لمیز</td>
                          <td>7538</td>
                          <td class="ms-text-success">+32.04%</td>
                          <td>14.29%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Favourite Products -->
          <!-- Total Earnings -->
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>درآمد کلی</h6>
            </div>
            <div class="ms-panel-body p-0">
              <div class="ms-quick-stats">
                <div class="ms-stats-grid">
                  <i class="fa fa-star"></i>
                  <p class="ms-text-dark">20000 تومان</p>
                  <span>امروز</span>
                </div>
                <div class="ms-stats-grid">
                  <i class="fa fa-university"></i>
                  <p class="ms-text-dark">30000 تومان</p>
                  <span>دیروز</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Total Earnings -->
        <!-- Recent Placed Orders< -->
        <div class="col-12">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>آخرین مکان های سفارش</h6>
            </div>
            <div class="ms-panel-body">
              <div class="table-responsive">
                <table class="table table-hover thead-primary">
                  <thead>
                    <tr>
                      <th scope="col">شماره سفارش</th>
                      <th scope="col">نام سفارش</th>
                      <th scope="col">نام مشتری</th>
                      <th scope="col">مکان</th>
                      <th scope="col">وضعیت سفارش</th>
                      <th scope="col">زمان تحویل</th>
                      <th scope="col">قیمت</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>مرغ سوخاری</td>
                      <td>صنم صفایی</td>
                      <td>شهر جدید</td>
                      <td><span class="badge badge-primary">در حال انتظار</span>
                      </td>
                      <td>10:05</td>
                      <td>20000 تومان</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>پیتزا مخصوص</td>
                      <td>علی احمدی</td>
                      <td>خیابان بهشت</td>
                      <td><span class="badge badge-dark">لغو شده</span>
                      </td>
                      <td>14:05</td>
                      <td>150000 تومان</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>چیکن استریپس</td>
                      <td>احمد محمدی</td>
                      <td>خیابان ارغوان</td>
                      <td><span class="badge badge-success">تحویل داده شده</span>
                      </td>
                      <td>12:05</td>
                      <td>190000 تومان</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>ماهی پلو </td>
                      <td>فاطمه گودرزی</td>
                      <td>خیابان 15 خرداد</td>
                      <td><span class="badge badge-success">تحویل داده شده</span>
                      </td>
                      <td>12:05</td>
                      <td>18000 تومان</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>ساندویچ مخصوص</td>
                      <td>سارا موحدی</td>
                      <td>خیابان سعدی</td>
                      <td><span class="badge badge-success">تحویل داده شده</span>
                      </td>
                      <td>12:05</td>
                      <td>20000 تومان</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td>ساندویچ مرغ</td>
                      <td>پدرام گلنوش</td>
                      <td>خیابان بهشت</td>
                      <td><span class="badge badge-primary">در حال انتظار</span>
                      </td>
                      <td>12:05</td>
                      <td>150000 تومان </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Recent Orders< -->

        <div class="col-md-12">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>آخرین رستوران ها</h6>

            </div>
            <div class="ms-panel-body">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="ms-card no-margin">
                    <div class="ms-card-body">
                      <div class="media fs-14">
                        <div class="mr-2 align-self-center">
                          <img src="assets/img/costic/customer-1.jpg" class="ms-img-round" alt="people">
                        </div>
                        <div class="media-body">
                          <h6>خانه همبرگر </h6>
                          <div class="dropdown float-right">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li class="ms-dropdown-list">
                                <a class="media p-2" href="#">
                                  <div class="media-body">
                                    <span>فروش‌ها</span>
                                  </div>
                                </a>
                                <a class="media p-2" href="#">
                                  <div class="media-body">
                                    <span>جزییات</span>
                                  </div>
                                </a>
                                <a class="media p-2" href="#">
                                  <div class="media-body">
                                    <span>حذف</span>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <p class="fs-12 my-1 text-disabled">30 ثانیه قبل</p>
                        </div>

                      </div>
                      <ul class="ms-star-rating rating-fill rating-circle ratings-new">
                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                      </ul>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    </div>
                    <div class="ms-card-img">
                      <img src="assets/img/costic/food-1.jpg" alt="card_img">
                    </div>
                    <div class="ms-card-footer text-disabled d-flex">
                      <div class="ms-card-options">
                        <i class="material-icons">favorite</i> 982
                      </div>
                      <div class="ms-card-options">
                        <i class="material-icons">comment</i> 785
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="ms-card no-margin">
                    <div class="ms-card-body">
                      <div class="media fs-14">
                        <div class="mr-2 align-self-center">
                          <img src="assets/img/costic/customer-2.jpg" class="ms-img-round" alt="people">
                        </div>
                        <div class="media-body">
                          <h6>عطا</h6>
                          <div class="dropdown float-right">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li class="ms-dropdown-list">
                                <a class="media p-2" href="#">
                                  <div class="media-body">
                                    <span>فروش‌ها</span>
                                  </div>
                                </a>
                                <a class="media p-2" href="#">
                                  <div class="media-body">
                                    <span>جزییات</span>
                                  </div>
                                </a>
                                <a class="media p-2" href="#">
                                  <div class="media-body">
                                    <span>حذف</span>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <p class="fs-12 my-1 text-disabled">30 ثانیه قبل</p>
                        </div>

                      </div>
                      <ul class="ms-star-rating rating-fill rating-circle ratings-new">
                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                      </ul>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    </div>
                    <div class="ms-card-img">
                      <img src="assets/img/costic/food-2.jpg" alt="card_img">
                    </div>
                    <div class="ms-card-footer text-disabled d-flex">
                      <div class="ms-card-options">
                        <i class="material-icons">favorite</i> 982
                      </div>
                      <div class="ms-card-options">
                        <i class="material-icons">comment</i> 785
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="ms-card no-margin">
                    <div class="ms-card-body">
                      <div class="media fs-14">
                        <div class="mr-2 align-self-center">
                          <img src="assets/img/costic/customer-6.jpg" class="ms-img-round" alt="people">
                        </div>
                        <div class="media-body">
                          <h6>پونه  </h6>
                          <div class="dropdown float-right">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li class="ms-dropdown-list">
                                <a class="media p-2" href="#">
                                  <div class="media-body">
                                    <span>فروش‌ها</span>
                                  </div>
                                </a>
                                <a class="media p-2" href="#">
                                  <div class="media-body">
                                    <span>جزییات</span>
                                  </div>
                                </a>
                                <a class="media p-2" href="#">
                                  <div class="media-body">
                                    <span>حذف</span>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <p class="fs-12 my-1 text-disabled">30 ثانیه قبل</p>
                        </div>

                      </div>
                      <ul class="ms-star-rating rating-fill rating-circle ratings-new">
                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                      </ul>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    </div>
                    <div class="ms-card-img">
                      <img src="assets/img/costic/food-3.jpg" alt="card_img">
                    </div>
                    <div class="ms-card-footer text-disabled d-flex">
                      <div class="ms-card-options">
                        <i class="material-icons">favorite</i> 982
                      </div>
                      <div class="ms-card-options">
                        <i class="material-icons">comment</i> 785
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Recent Support Tickets -->
        <div class="col-xl-6 col-md-12">
          <div class="ms-panel ms-panel-fh">
            <div class="ms-panel-header">
              <div class="d-flex justify-content-between">
                <div class="align-self-center align-left">
                  <h6>آخرین تیکت های ثبت شده</h6>
                </div>
                <a href="#" class="btn btn-primary"> دیدن همگی</a>
              </div>
            </div>
            <div class="ms-panel-body p-0">
              <ul class="ms-list ms-feed ms-twitter-feed ms-recent-support-tickets">
                <li class="ms-list-item">
                  <a href="#" class="media clearfix">
                    <img src="assets/img/costic/customer-4.jpg" class="ms-img-round ms-img-small" alt="This is another feature">
                    <div class="media-body">
                      <div class="d-flex justify-content-between">
                       <h6 class="ms-feed-user mb-0">لورم ایپسوم متن ساختگی</h6>
                        <span class="badge badge-success"> باز</span>
                      </div> <span class="my-2 d-block"> <i class="material-icons">date_range</i> 22 دی 98</span>
                      <p class="d-block">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="ms-feed-controls"> <span>
                            <i class="material-icons">chat</i> 16
                          </span>
                          <span>
                            <i class="material-icons">attachment</i> 3
                          </span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="ms-list-item">
                  <a href="#" class="media clearfix">
                    <img src="assets/img/costic/customer-1.jpg" class="ms-img-round ms-img-small" alt="This is another feature">
                    <div class="media-body">
                      <div class="d-flex justify-content-between">
                       <h6 class="ms-feed-user mb-0">لورم ایپسوم متن ساختگی</h6>
                        <span class="badge badge-success"> باز</span>
                      </div> <span class="my-2 d-block"> <i class="material-icons">date_range</i> 22 دی 98</span>
                      <p class="d-block">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="ms-feed-controls"> <span>
                            <i class="material-icons">chat</i> 11
                          </span>
                          <span>
                            <i class="material-icons">attachment</i> 1
                          </span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="ms-list-item">
                  <a href="#" class="media clearfix">
                    <img src="assets/img/costic/customer-7.jpg" class="ms-img-round ms-img-small" alt="This is another feature">
                    <div class="media-body">
                      <div class="d-flex justify-content-between">
                       <h6 class="ms-feed-user mb-0">لورم ایپسوم متن ساختگی</h6>
                        <span class="badge badge-danger"> بسته</span>
                      </div> <span class="my-2 d-block"> <i class="material-icons">date_range</i> 22 دی 98</span>
                      <p class="d-block">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="ms-feed-controls"> <span>
                            <i class="material-icons">chat</i> 21
                          </span>
                          <span>
                            <i class="material-icons">attachment</i> 5
                          </span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Recent Support Tickets -->
        <!-- client chat -->
        <div class="col-xl-6 col-md-12">
          <div class="ms-panel ms-panel-fh ms-widget ms-chat-conversations">
            <div class="ms-panel-header">
              <div class="ms-chat-header justify-content-between">
                <div class="ms-chat-user-container media clearfix">
                  <div class="ms-chat-status ms-status-online ms-chat-img mr-3 align-self-center">
                    <img src="assets/img/costic/customer-1.jpg" class="ms-img-round" alt="people">
                  </div>
                  <div class="media-body ms-chat-user-info mt-1">
                    <h6>صنم صفایی</h6>
                    <span class="text-disabled fs-12">
                      آنلاین
                    </span>
                  </div>
                </div>
                <ul class="ms-list ms-list-flex ms-chat-controls">
                  <li data-toggle="tooltip" data-placement="top" title="تماس"> <i class="material-icons">local_phone</i>
                  </li>
                  <li data-toggle="tooltip" data-placement="top" title=" تماس تصویری "> <i class="material-icons">videocam</i>
                  </li>
                  <li data-toggle="tooltip" data-placement="top" title="افزودن به گفتگو"> <i class="material-icons">person_add</i>
                  </li>
                </ul>
              </div>
            </div>
            <div class="ms-panel-body ms-scrollable">
              <div class="ms-chat-bubble ms-chat-message ms-chat-outgoing media clearfix">
                <div class="ms-chat-status ms-status-online ms-chat-img">
                  <img src="assets/img/costic/customer-1.jpg" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <div class="ms-chat-text">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                  </div>
                  <p class="ms-chat-time">10:33بعد از ظهر</p>
                </div>
              </div>
              <div class="ms-chat-bubble ms-chat-message ms-chat-incoming media clearfix">
                <div class="ms-chat-status ms-status-online ms-chat-img">
                  <img src="assets/img/costic/customer-2.jpg" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <div class="ms-chat-text">
                    <p>ممنونم لطف کردی</p>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                  </div>
                  <p class="ms-chat-time">11:01بعد از ظهر</p>
                </div>
              </div>
              <div class="ms-chat-bubble ms-chat-message ms-chat-outgoing media clearfix">
                <div class="ms-chat-status ms-status-online ms-chat-img">
                  <img src="assets/img/costic/customer-1.jpg" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <div class="ms-chat-text">
                    <p> ارائه راهکارها و شرایط سخت تایپ به پایان رسد</p>
                    <p> سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

                  </div>
                  <p class="ms-chat-time">11:03بعد از ظهر</p>
                </div>
              </div>
              <div class="ms-panel-footer">
                <div class="ms-chat-textbox">
                  <ul class="ms-list-flex mb-0">
                    <li class="ms-chat-vn"><i class="material-icons">mic</i>
                    </li>
                    <li class="ms-chat-input">
                      <input type="text" name="msg" placeholder="اینجا بنویسید" value="">
                    </li>
                    <li class="ms-chat-text-controls ms-list-flex"> <span> <i class="material-icons">tag_faces</i> </span>
                      <span> <i class="material-icons">attach_file</i> </span>
                      <span> <i class="material-icons">camera_alt</i> </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- client chat -->
      </div>
    </div>
{% endblock %}